<footer>
    <nav class="navbar navbar-expand">
        <div class="container-fluid p-0">
            <ul class="navbar-nav w-100">
                <li class="nav-item py-4 flex-fill">
                    <a class="nav-link p-0 active" href="">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <i class="ph-fill ph-house fs-6 mb-2"></i>
                            <span class="fs-11 lh-1">首頁</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item py-4 flex-fill">
                    <a class="nav-link p-0" href="">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <i class="ph ph-chat-teardrop-dots fs-6 mb-2"></i>
                            <span class="fs-11 lh-1">聊天</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item py-4 flex-fill">
                    <a class="nav-link p-0" href="">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <i class="ph ph-magnifying-glass fs-6 mb-2"></i>
                            <span class="fs-11 lh-1">探索</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item py-4 flex-fill">
                    <a class="nav-link p-0" href="">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <i class="ph ph-user fs-6 mb-2"></i>
                            <span class="fs-11 lh-1">會員</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</footer>