<main>
    <section>
        <div class="bg-container">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <h2 class="fs-base fw-bolder text-primary-100 bg-primary-10 rounded-7 p-2 d-inline-block mb-4">
                            ZOBAA
                            旅行推薦平台</h2>
                        <h1 class="fs-3 text-primary-100 fw-bolder mb-2">
                            <span class="d-block d-lg-inline">用旅行，</span>
                            <span>收藏世界的樣子</span>
                        </h1>
                        <p class="text-primary-80 fs-subtitle fw-bolder mb-7">ZOBAA
                            整合熱門景點推薦、即時優惠、獨家行程，從比價到訂購，一次完成你的完美出遊計畫。</p>
                        <form class="position-relative mw-720 z-1">
                            <span
                                class="material-symbols-outlined position-absolute align-bottom top-50 start-0 translate-middle-y text-neutral-60 ps-2">search</span>
                            <button type="button"
                                class="btn btn-sm btn-primary-customer position-absolute top-50 end-0 translate-middle-y border-0 me-2">開始探索旅程</button>
                            <input type="search" class="form-control rounded-4 py-6 ps-10" id="exampleFormControlInput1"
                                placeholder="搜尋景點、地點或城市">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-10 py-lg-13 recommend">
        <div class="container">
            <div class="d-lg-flex justify-content-lg-between align-items-lg-center mb-lg-15 mb-10">
                <div class="mb-7 mb-lg-0">
                    <h2 class="fs-lg-72 fs-3 text-white lg-sm fw-bolder">
                        你的<br>專屬推薦
                    </h2>
                </div>
                <div>
                    <p class="text-white fs-6 lh-sm fw-bolder mb-2">來看我們的精選推薦行程，滿意度高達 99.2%</p>
                    <p class="text-white fs-6 lh-sm fw-bolder mb-4 mb-lg-7">給自己一個難忘的旅遊行程吧！</p>
                    <div class="d-flex align-items-center">
                        <a class="text-white fw-bolder text-decoration-none" href="">查看全部行程<svg class="ms-2" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_187_42521)">
                                    <path d="M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z"
                                        fill="white" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_187_42521">
                                        <rect width="24" height="24" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg></a>
                    </div>


                </div>
            </div>
        </div>
        <div class="container d-flex gap-5 overflow-x-auto">
            <div class="card text-bg-dark rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1">
                <img src="/assets/images/index/recommend.png" class="card-img h-100" alt="recommend-1">
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                    <h3 class="fs-lg-2 fs-4 text-white lh-sm fw-bolder mb-2 lh-sm">峇里島渡假漫遊</h3>
                    <p class="text-white mb-7 fs-subtitle fs-lg-base">精選五星級海灘度假村，專屬私人管家服務，讓您徹底放鬆身心。</p>
                    <button type="button"
                        class="btn-customer-white py-5 px-6 d-flex justify-content-between align-items-center">
                        訂購行程<span class="material-symbols-outlined align-bottom">
                            arrow_forward
                        </span>
                    </button>
                </div>
            </div>
            <div class="card text-bg-dark rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1">
                <img src="/assets/images/index/recommend-1.png" class="card-img h-100" alt="recommend-1">
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                    <h3 class="fs-lg-2 fs-4 text-white lh-sm fw-bolder mb-2 lh-sm">日本深度賞櫻計畫</h3>
                    <p class="text-white mb-7 fs-subtitle fs-lg-base">春季限定，東京、京都、大阪賞櫻之旅，體驗日本文化的精髓。</p>
                    <button type="button"
                        class="btn-customer-white py-5 px-6 d-flex justify-content-between align-items-center">
                        訂購行程<span class="material-symbols-outlined align-bottom">
                            arrow_forward
                        </span>
                    </button>
                </div>
            </div>
            <div class="card text-bg-dark rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1">
                <img src="/assets/images/index/recommend-2.png" class="card-img h-100" alt="recommend-2">
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                    <h3 class="fs-lg-2 fs-4 text-white lh-sm fw-bolder mb-2 lh-sm">紐西蘭雪山探險</h3>
                    <p class="text-white mb-7 fs-subtitle fs-lg-base">探索南島壯麗的自然風光，體驗各種極限運動和戶外活動。</p>
                    <button type="button"
                        class="btn-customer-white py-5 px-6 d-flex justify-content-between align-items-center">
                        訂購行程<span class="material-symbols-outlined align-bottom">
                            arrow_forward
                        </span>
                    </button>
                </div>
            </div>
            <div class="card text-bg-dark rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1">
                <img src="/assets/images/index/recommend-3.png" class="card-img h-100" alt="recommend-3">
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                    <h3 class="fs-lg-2 fs-4 text-white lh-sm fw-bolder mb-2 lh-sm">摩洛哥迷幻之旅</h3>
                    <p class="text-white mb-7 fs-subtitle fs-lg-base">漫步沙漠與古城之間，探索千年文化與色彩繽紛的市集風情。</p>
                    <button type="button"
                        class="btn-customer-white py-5 px-6 d-flex justify-content-between align-items-center">
                        訂購行程<span class="material-symbols-outlined align-bottom">
                            arrow_forward
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="py-10 py-lg-13 position-relative overflow-hidden">
        <img class="position-absolute z-0 d-none d-lg-block" src="/assets/images/index/deco-bg.svg" alt="deco-bg"
            style="transform: rotate(-3.06deg);">
        <div class="container position-relative z-1">
            <img class="deco-text position-absolute z-0" src="/assets/images/index/deco-text.svg" alt="deco-text">
            <div class="row flex-lg-row flex-column justify-content-lg-between align-items-lg-center">
                <div class="col-lg-7 col order-2 order-lg-1">
                    <div class="row">
                        <div class="col-lg-5 col-12 mb-lg-6 mb-5">
                            <div class="bg-white border border-neutral-40 rounded-5">
                                <img class="rounded-top-5" src="/assets/images/index/intro-1.png" alt="intro-1.png">
                                <div class="p-7">
                                    <h3 class="fs-6 lh-sm fw-bolder mb-2">ZOBAA 專屬推薦行程</h3>
                                    <p class="text-neutral-80">嚴選深度行程，豐富旅行靈感</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-12 mb-lg-6 mb-5">
                            <div class="bg-white border border-neutral-40 rounded-5">
                                <img class="rounded-top-5" src="/assets/images/index/intro-2.png" alt="intro-2.png">
                                <div class="p-7">
                                    <h3 class="fs-6 lh-sm fw-bolder mb-2">旅人攻略集合</h3>
                                    <p class="text-neutral-80">景點、交通、私房景點一次掌握</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-12 ms-lg-15 ms-0 mb-5 mb-lg-0">
                            <div class="bg-white border border-neutral-40 rounded-5">
                                <img class="rounded-top-5" src="/assets/images/index/intro-3.png" alt="intro-3.png">
                                <div class="p-7">
                                    <h3 class="fs-6 lh-sm fw-bolder mb-2">優惠機票、酒店</h3>
                                    <p class="text-neutral-80">即時比價，聰明出發不踩雷</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-12">
                            <div class="bg-white border border-neutral-40 rounded-5">
                                <img class="rounded-top-5" src="/assets/images/index/intro-4.png" alt="intro-4.png">
                                <div class="p-7">
                                    <h3 class="fs-6 lh-sm fw-bolder mb-2">銀行專屬優惠</h3>
                                    <p class="text-neutral-80">使用指定卡別享受獨家旅遊好康</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col order-1 order-lg-2 mb-10 mb-lg-0">
                    <h3 class="fs-lg-72 fs-3 text-primary-100 fw-bolder lh-sm mb-7">ZOBAA!<br>踏上旅程的<br>第一站</h3>
                    <p class="fs-lg-6 fs-subtitle text-primary-60 lh-sm fw-bolder mb-1">探索最熱門的旅遊主題，</p>
                    <p class="fs-lg-6 fs-subtitle text-primary-60 lh-sm fw-bolder mb-1">從旅人必備攻略到獨家優惠，</p>
                    <p class="fs-lg-6 fs-subtitle text-primary-60 lh-sm fw-bolder">全都為你精挑細選。</p>
                </div>
            </div>
        </div>
    </section>
    <svg width="100%" height="80" viewBox="0 0 1920 80" fill="none" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none">
        <path d="M0 60L1920 0V80H0V60Z" fill="#F3EEEC" />
    </svg>
    <section class="py-10 py-lg-13 bg-primary-10 position-relative">
        <div class="container overflow-hidden">
            <div class="row flex-column flex-lg-row justify-content-lg-between align-items-lg-center mb-lg-15 mb-10">
                <div class="col-lg-5 col mb-5 mb-lg-0">
                    <img class="position-absolute deco-text-tag" src="/assets/images/index/deco-text-1.svg"
                        alt="deco-text-1">
                    <h3 class="fs-lg-72 fs-3 text-primary-100 fw-bolder lh-sm mb-7">今年旅行的<br>靈感地圖</h3>
                    <ul class="nav gap-2">
                        <li><button type="button"
                                class="btn btn-sm py-2 btn-primary-customer fw-bolder border-0">全部</button>
                        </li>
                        <li><button type="button"
                                class="btn btn-sm py-2 btn-secondary-customer fw-bolder border-0">亞洲</button></li>
                        <li><button type="button"
                                class="btn btn-sm py-2 btn-secondary-customer fw-bolder border-0">歐洲</button></li>
                        <li><button type="button"
                                class="btn btn-sm py-2 btn-secondary-customer fw-bolder border-0">美洲</button></li>
                        <li><button type="button"
                                class="btn btn-sm py-2 btn-secondary-customer fw-bolder border-0">大洋洲</button></li>
                        <li><button type="button"
                                class="btn btn-sm py-2 btn-secondary-customer fw-bolder border-0">非洲</button></li>
                    </ul>
                </div>
                <div class="col-lg-5 col">
                    <div class="d-flex flex-column align-items-lg-end align-items-start">
                        <p class="mb-2 fs-lg-6 fs-subtitle text-primary-100 fw-bolder lh-sm">來自旅人搜尋、收藏與討論最多的目的地排行榜，</p>
                        <p class="mb-2 fs-lg-6 fs-subtitle text-primary-100 fw-bolder lh-sm">一場風格與故事感兼具的靈感旅行，就從這裡開始。</p>
                        <div class="d-flex gap-2 d-none d-lg-block">
                            <button type="button" class="btn-customer-white p-5 rounded-4 p-5"><svg width="24"
                                    height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 20L13.41 18.59L7.83 13L20 13L20 11L7.83 11L13.41 5.41L12 4L4 12L12 20Z"
                                        fill="currentColor" />
                                </svg>
                            </button>
                            <button type="button" class="btn-customer-white p-5 rounded-4 p-5"><svg width="24"
                                    height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_187_42592)">
                                        <path d="M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z"
                                            fill="currentColor" />
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="swiper overflow-visible">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div
                                class="d-flex flex-lg-row flex-column gap-lg-9 gap-2 p-lg-5 pe-lg-9 p-5 rounded-6 bg-white">
                                <span class="position-absolute poppins fst-italic lh-sm number-tag">1</span>
                                <img class="map-img rounded-4 flex-shrink-0 object-fit-cover"
                                    src="/assets/images/index/map-1.png" alt="map-1">
                                <div class="d-flex flex-column">
                                    <div class="d-flex align-items-center gap-2 mb-2">
                                        <p
                                            class="py-2 px-5 fs-lg-base fs-subtitle bg-primary-10 text-primary-100 rounded-3 fw-bolder">
                                            亞洲
                                        </p>
                                        <p
                                            class="py-2 px-5 fs-lg-base fs-subtitle bg-primary-10 text-primary-100 rounded-3 fw-bolder">
                                            日本京都
                                        </p>
                                    </div>
                                    <h3 class="fs-lg-1 fs-3 fw-bolder lh-sm mb-2">走進四季交織的文化時光</h3>
                                    <p class="text-neutral-80 mb-lg-10 mb-7 fs-lg-base fs-subtitle">
                                        穿過紅葉與古寺的交錯，感受從櫻花盛開到秋楓染紅的日式浪漫。</p>
                                    <div
                                        class="d-flex flex-lg-row flex-column justify-content-lg-start align-items-lg-start gap-4 mb-lg-10 mb-7">
                                        <span
                                            class="align-self-start text-nowrap p-2 bg-primary-10 rounded-7 fw-bolder text-primary-100">ZOBAA
                                            建議</span>
                                        <p>賞楓最佳時間是 11 月中旬，推薦清水寺和南禪寺一帶 🍁</p>
                                    </div>
                                    <button type="button"
                                        class="w-100 btn-customer-dark py-5 px-6 d-flex justify-content-between align-items-center">
                                        立即探索魅力古都
                                        <div class="p-1">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <rect width="32" height="32" rx="16" fill="white" />
                                                <g clip-path="url(#clip0_87_13887)">
                                                    <path
                                                        d="M16 8L14.59 9.41L20.17 15H8V17H20.17L14.59 22.59L16 24L24 16L16 8Z"
                                                        fill="black" />
                                                </g>
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div
                                class="d-flex flex-lg-row flex-column gap-lg-9 gap-2 p-lg-5 pe-lg-9 p-5 rounded-6 bg-white">
                                <span class="position-absolute poppins fst-italic lh-sm number-tag">2</span>
                                <img class="map-img rounded-4 flex-shrink-0 object-fit-cover"
                                    src="/assets/images/index/map-2.png" alt="map-2">
                                <div class="d-flex flex-column">
                                    <div class="d-flex align-items-center gap-2 mb-2">
                                        <p
                                            class="py-2 px-5 fs-lg-base fs-subtitle bg-primary-10 text-primary-100 rounded-3 fw-bolder">
                                            亞洲
                                        </p>
                                        <p
                                            class="py-2 px-5 fs-lg-base fs-subtitle bg-primary-10 text-primary-100 rounded-3 fw-bolder">
                                            南韓首爾
                                        </p>
                                    </div>
                                    <h3 class="fs-lg-1 fs-3 fw-bolder lh-sm mb-2">從街邊美食到韓劇場景</h3>
                                    <p class="text-neutral-80 mb-lg-10 mb-7 fs-lg-base fs-subtitle">
                                        白天在弘大小巷探店，夜晚登上南山塔俯瞰整座城市的閃爍。</p>
                                    <div
                                        class="d-flex flex-lg-row flex-column justify-content-lg-start align-items-lg-start gap-4 mb-lg-10 mb-7">
                                        <p
                                            class="align-self-start text-nowrap p-2 bg-primary-10 rounded-7 fw-bolder text-primary-100">
                                            ZOBAA 建議</p>
                                        <p>弘大周邊週五傍晚最熱鬧，小吃與街頭藝人齊發✨</p>
                                    </div>
                                    <button type="button"
                                        class="w-100 btn-customer-dark py-5 px-6 d-flex justify-content-between align-items-center">
                                        立即探索魅力古都
                                        <div class="p-1">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <rect width="32" height="32" rx="16" fill="white" />
                                                <g clip-path="url(#clip0_87_13887)">
                                                    <path
                                                        d="M16 8L14.59 9.41L20.17 15H8V17H20.17L14.59 22.59L16 24L24 16L16 8Z"
                                                        fill="black" />
                                                </g>
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div
                                class="d-flex flex-lg-row flex-column gap-lg-9 gap-2 p-lg-5 pe-lg-9 p-5 rounded-6 bg-white">
                                <span class="position-absolute poppins fst-italic lh-sm number-tag">3</span>
                                <img class="map-img rounded-4 flex-shrink-0 object-fit-cover"
                                    src="/assets/images/index/map-3.png" alt="map-3">
                                <div class="d-flex flex-column">
                                    <div class="d-flex align-items-center gap-2 mb-2">
                                        <p
                                            class="py-2 px-5 fs-lg-base fs-subtitle bg-primary-10 text-primary-100 rounded-3 fw-bolder">
                                            歐洲
                                        </p>
                                        <p
                                            class="py-2 px-5 fs-lg-base fs-subtitle bg-primary-10 text-primary-100 rounded-3 fw-bolder">
                                            法國巴黎
                                        </p>
                                    </div>
                                    <h3 class="fs-lg-1 fs-3 fw-bolder lh-sm mb-2">在藝術與咖啡香中迷路</h3>
                                    <p class="text-neutral-80 mb-lg-10 mb-7 fs-lg-base fs-subtitle">
                                        穿梭左岸書店與畫廊，任由麵包香與建築細節擁抱你的步伐。</p>
                                    <div
                                        class="d-flex flex-lg-row flex-column justify-content-lg-start align-items-lg-start gap-4 mb-lg-10 mb-7">
                                        <p
                                            class="align-self-start text-nowrap p-2 bg-primary-10 rounded-7 fw-bolder text-primary-100">
                                            ZOBAA 建議</p>
                                        <p>走進瑪黑區，最容易與巴黎風格不期而遇 ☕️</p>
                                    </div>
                                    <button type="button"
                                        class="w-100 btn-customer-dark py-5 px-6 d-flex justify-content-between align-items-center">
                                        立即探索魅力古都
                                        <div class="p-1">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <rect width="32" height="32" rx="16" fill="white" />
                                                <g clip-path="url(#clip0_87_13887)">
                                                    <path
                                                        d="M16 8L14.59 9.41L20.17 15H8V17H20.17L14.59 22.59L16 24L24 16L16 8Z"
                                                        fill="black" />
                                                </g>
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div
                                class="d-flex flex-lg-row flex-column gap-lg-9 gap-2 p-lg-5 pe-lg-9 p-5 rounded-6 bg-white">
                                <span class="position-absolute poppins fst-italic lh-sm number-tag">4</span>
                                <img class="map-img rounded-4 flex-shrink-0 object-fit-cover"
                                    src="/assets/images/index/map-4.png" alt="map-4">
                                <div class="d-flex flex-column">
                                    <div class="d-flex align-items-center gap-2 mb-2">
                                        <p
                                            class="py-2 px-5 fs-lg-base fs-subtitle bg-primary-10 text-primary-100 rounded-3 fw-bolder">
                                            大洋洲
                                        </p>
                                        <p
                                            class="py-2 px-5 fs-lg-base fs-subtitle bg-primary-10 text-primary-100 rounded-3 fw-bolder">
                                            澳洲雪梨
                                        </p>
                                    </div>
                                    <h3 class="fs-lg-1 fs-3 fw-bolder lh-sm mb-2">城市與大自然的交會</h3>
                                    <p class="text-neutral-80 mb-lg-10 mb-7 fs-lg-base fs-subtitle">
                                        清晨在海灘做瑜珈，午後漫步歌劇院，享受城市的節奏與野性的呼喚。</p>
                                    <div
                                        class="d-flex flex-lg-row flex-column justify-content-lg-start align-items-lg-start gap-4 mb-lg-10 mb-7">
                                        <p
                                            class="align-self-start text-nowrap p-2 bg-primary-10 rounded-7 fw-bolder text-primary-100">
                                            ZOBAA 建議</p>
                                        <p>別錯過傍晚在雪梨港看日落＋欣賞歌劇院夜燈 ✨</p>
                                    </div>
                                    <button type="button"
                                        class="w-100 btn-customer-dark py-5 px-6 d-flex justify-content-between align-items-center">
                                        立即探索魅力古都
                                        <div class="p-1">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <rect width="32" height="32" rx="16" fill="white" />
                                                <g clip-path="url(#clip0_87_13887)">
                                                    <path
                                                        d="M16 8L14.59 9.41L20.17 15H8V17H20.17L14.59 22.59L16 24L24 16L16 8Z"
                                                        fill="black" />
                                                </g>
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div
                                class="d-flex flex-lg-row flex-column gap-lg-9 gap-2 p-lg-5 pe-lg-9 p-5 rounded-6 bg-white">
                                <span class="position-absolute poppins fst-italic lh-sm number-tag">5</span>
                                <img class="map-img rounded-4 flex-shrink-0 object-fit-cover"
                                    src="/assets/images/index/map-5.png" alt="map-5">
                                <div class="d-flex flex-column">
                                    <div class="d-flex align-items-center gap-2 mb-2">
                                        <p
                                            class="py-2 px-5 fs-lg-base fs-subtitle bg-primary-10 text-primary-100 rounded-3 fw-bolder">
                                            非洲
                                        </p>
                                        <p
                                            class="py-2 px-5 fs-lg-base fs-subtitle bg-primary-10 text-primary-100 rounded-3 fw-bolder">
                                            埃及開羅
                                        </p>
                                    </div>
                                    <h3 class="fs-lg-1 fs-3 fw-bolder lh-sm mb-2">穿越千年時光的沙漠冒險</h3>
                                    <p class="text-neutral-80 mb-lg-10 mb-7 fs-lg-base fs-subtitle">
                                        乘著駱駝走過古老遺跡，抬頭仰望太陽神的光芒，在歷史與傳說之間迷失。</p>
                                    <div
                                        class="d-flex flex-lg-row flex-column justify-content-lg-start align-items-lg-start gap-4 mb-lg-10 mb-7">
                                        <p
                                            class="align-self-start text-nowrap p-2 bg-primary-10 rounded-7 fw-bolder text-primary-100">
                                            ZOBAA 建議</p>
                                        <p>建議早上 8 點前到吉薩金字塔，避開人潮與烈日 ☀️</p>
                                    </div>
                                    <button type="button"
                                        class="w-100 btn-customer-dark py-5 px-6 d-flex justify-content-between align-items-center">
                                        立即探索魅力古都
                                        <div class="p-1">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <rect width="32" height="32" rx="16" fill="white" />
                                                <g clip-path="url(#clip0_87_13887)">
                                                    <path
                                                        d="M16 8L14.59 9.41L20.17 15H8V17H20.17L14.59 22.59L16 24L24 16L16 8Z"
                                                        fill="black" />
                                                </g>
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <svg width="100%" height="80" viewBox="0 0 1920 80" fill="none" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none">
        <path d="M1920 20L0 79.9998L6.99382e-06 -0.000167852L1920 0L1920 20Z" fill="#F3EEEC" />
    </svg>
    <section class="py-10 py-lg-13">
        <div class="container">
            <div class="mb-10 position-relative">
                <img class="position-absolute pound-tag z-0" src="/assets/images/index/bg-s.svg" alt="bg-#" width="120"
                    height="120">
                <h3 class="position-relative z-1 fs-lg-72 fs-3 text-primary-100 fw-bolder lh-sm mb-lg-15 mb-10">
                    搜尋墨爾本嗎？<br>來點行程參考！
                </h3>
            </div>
            <div class="row">
                <div class="swiper Myswiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide position-relative">
                            <div
                                class="position-absolute end-0 top-0 p-5 bg-black bg-opacity-50 blackground-blur img-heart">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12 20.3249C11.7667 20.3249 11.5293 20.2832 11.288 20.1999C11.0467 20.1166 10.834 19.9832 10.65 19.7999L8.925 18.2249C7.15833 16.6082 5.56233 15.0042 4.137 13.4129C2.71167 11.8216 1.99933 10.0672 2 8.1499C2 6.58324 2.525 5.2749 3.575 4.2249C4.625 3.1749 5.93333 2.6499 7.5 2.6499C8.38333 2.6499 9.21667 2.83724 10 3.2119C10.7833 3.58657 11.45 4.09924 12 4.7499C12.55 4.0999 13.2167 3.58757 14 3.2129C14.7833 2.83824 15.6167 2.65057 16.5 2.6499C18.0667 2.6499 19.375 3.1749 20.425 4.2249C21.475 5.2749 22 6.58324 22 8.1499C22 10.0666 21.2917 11.8249 19.875 13.4249C18.4583 15.0249 16.85 16.6332 15.05 18.2499L13.35 19.7999C13.1667 19.9832 12.9543 20.1166 12.713 20.1999C12.4717 20.2832 12.234 20.3249 12 20.3249ZM11.05 6.7499C10.5667 6.06657 10.05 5.54557 9.5 5.1869C8.95 4.82824 8.28333 4.64924 7.5 4.6499C6.5 4.6499 5.66667 4.98324 5 5.6499C4.33333 6.31657 4 7.1499 4 8.1499C4 9.01657 4.30833 9.93757 4.925 10.9129C5.54167 11.8882 6.27933 12.8339 7.138 13.7499C7.99667 14.6659 8.88 15.5242 9.788 16.3249C10.696 17.1256 11.4333 17.7839 12 18.2999C12.5667 17.7832 13.3043 17.1249 14.213 16.3249C15.1217 15.5249 16.005 14.6666 16.863 13.7499C17.721 12.8332 18.4583 11.8876 19.075 10.9129C19.6917 9.93824 20 9.01724 20 8.1499C20 7.1499 19.6667 6.31657 19 5.6499C18.3333 4.98324 17.5 4.6499 16.5 4.6499C15.7167 4.6499 15.05 4.82924 14.5 5.1879C13.95 5.54657 13.4333 6.06724 12.95 6.7499C12.8333 6.91657 12.6917 7.04157 12.525 7.1249C12.3583 7.20824 12.1833 7.2499 12 7.2499C11.8167 7.2499 11.6417 7.20824 11.475 7.1249C11.3083 7.04157 11.1667 6.91657 11.05 6.7499Z"
                                        fill="white" />
                                </svg>
                            </div>
                            <img class="rounded-8 mb-5" src="/assets/images/index/journey-1.png" alt="journey-1">
                            <div class="mb-5">
                                <h3 class="fs-base fw-bolder mb-2">【獨家優惠】布萊頓彩色小屋＋森林蒸汽火車一日遊</h3>
                                <div class="mb-2">
                                    <span
                                        class="bg-primary-10 px-2 py-1 text-primary-100 fs-subtitle rounded-7 me-2">即買即用</span><span
                                        class="bg-primary-10 px-2 py-1 text-primary-100 fs-subtitle rounded-7">5
                                        天前可免費取消</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                        <div class="me-1 d-flex align-items-center">
                                            <svg width="12" height="12" viewBox="0 0 12 13" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M6.00001 9.53617L2.73751 11.2177C2.71281 11.2304 2.68507 11.236 2.65737 11.2339C2.62967 11.2318 2.6031 11.222 2.58062 11.2057C2.55815 11.1893 2.54065 11.1671 2.53008 11.1414C2.51951 11.1157 2.51628 11.0876 2.52076 11.0602L3.11326 7.43767L0.504757 4.85617C0.484628 4.83686 0.470348 4.81226 0.463551 4.78521C0.456754 4.75815 0.457716 4.72973 0.466326 4.70319C0.474936 4.67666 0.490846 4.65308 0.512234 4.63517C0.533622 4.61726 0.559622 4.60574 0.587257 4.60192L4.21501 4.04467L5.86501 0.767172C5.87745 0.742211 5.8966 0.721213 5.92031 0.706535C5.94403 0.691857 5.97137 0.684082 5.99926 0.684082C6.02715 0.684082 6.05448 0.691857 6.0782 0.706535C6.10191 0.721213 6.12107 0.742211 6.13351 0.767172L7.78351 4.04467L11.4113 4.60192C11.4387 4.60601 11.4645 4.61767 11.4857 4.63562C11.5069 4.65356 11.5227 4.67707 11.5313 4.70349C11.5399 4.72991 11.5409 4.7582 11.5343 4.78517C11.5276 4.81215 11.5136 4.83673 11.4938 4.85617L8.88751 7.43842L9.47851 11.0609C9.48282 11.0883 9.47947 11.1163 9.46883 11.1419C9.45819 11.1675 9.44068 11.1896 9.41823 11.2058C9.39579 11.222 9.36929 11.2317 9.34167 11.2338C9.31405 11.2359 9.28639 11.2303 9.26176 11.2177L6.00001 9.53617Z"
                                                    fill="#F6BD2B" />
                                            </svg>
                                        </div>
                                        <div class="d-flex align-items-center me-4">
                                            <p class="me-1 fs-subtitle text-neutral-80">4.2</p><span
                                                class="text-neutral-60 fs-subtitle">(333)</span>
                                        </div>
                                    </div>
                                    <div class="ps-4 border-start border-text-neutral-40 border-2">
                                        <p class="fs-subtitle text-neutral-80">500+ 個已訂購</p>
                                    </div>
                                </div>

                            </div>
                            <div class="pt-5 border-top border-text-neutral-40 border-2">
                                <p class="fs-6 fw-bolder lh-sm">NT$ 4,220</p>
                                <span class="fs-subtitle text-neutral-60 text-decoration-line-through">NT$
                                    5,220</span>
                            </div>
                        </div>
                        <div class="swiper-slide position-relative">
                            <div
                                class="position-absolute end-0 top-0 p-5 bg-black bg-opacity-50 blackground-blur img-heart">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12 20.3249C11.7667 20.3249 11.5293 20.2832 11.288 20.1999C11.0467 20.1166 10.834 19.9832 10.65 19.7999L8.925 18.2249C7.15833 16.6082 5.56233 15.0042 4.137 13.4129C2.71167 11.8216 1.99933 10.0672 2 8.1499C2 6.58324 2.525 5.2749 3.575 4.2249C4.625 3.1749 5.93333 2.6499 7.5 2.6499C8.38333 2.6499 9.21667 2.83724 10 3.2119C10.7833 3.58657 11.45 4.09924 12 4.7499C12.55 4.0999 13.2167 3.58757 14 3.2129C14.7833 2.83824 15.6167 2.65057 16.5 2.6499C18.0667 2.6499 19.375 3.1749 20.425 4.2249C21.475 5.2749 22 6.58324 22 8.1499C22 10.0666 21.2917 11.8249 19.875 13.4249C18.4583 15.0249 16.85 16.6332 15.05 18.2499L13.35 19.7999C13.1667 19.9832 12.9543 20.1166 12.713 20.1999C12.4717 20.2832 12.234 20.3249 12 20.3249ZM11.05 6.7499C10.5667 6.06657 10.05 5.54557 9.5 5.1869C8.95 4.82824 8.28333 4.64924 7.5 4.6499C6.5 4.6499 5.66667 4.98324 5 5.6499C4.33333 6.31657 4 7.1499 4 8.1499C4 9.01657 4.30833 9.93757 4.925 10.9129C5.54167 11.8882 6.27933 12.8339 7.138 13.7499C7.99667 14.6659 8.88 15.5242 9.788 16.3249C10.696 17.1256 11.4333 17.7839 12 18.2999C12.5667 17.7832 13.3043 17.1249 14.213 16.3249C15.1217 15.5249 16.005 14.6666 16.863 13.7499C17.721 12.8332 18.4583 11.8876 19.075 10.9129C19.6917 9.93824 20 9.01724 20 8.1499C20 7.1499 19.6667 6.31657 19 5.6499C18.3333 4.98324 17.5 4.6499 16.5 4.6499C15.7167 4.6499 15.05 4.82924 14.5 5.1879C13.95 5.54657 13.4333 6.06724 12.95 6.7499C12.8333 6.91657 12.6917 7.04157 12.525 7.1249C12.3583 7.20824 12.1833 7.2499 12 7.2499C11.8167 7.2499 11.6417 7.20824 11.475 7.1249C11.3083 7.04157 11.1667 6.91657 11.05 6.7499Z"
                                        fill="white" />
                                </svg>
                            </div>
                            <img class="rounded-8 mb-5" src="/assets/images/index/journey-2.png" alt="journey-2">
                            <div class="mb-5">
                                <h3 class="fs-base fw-bolder mb-2">無尾熊動物園＋企鵝歸巢雙享之旅</h3>
                                <div class="mb-2">
                                    <span
                                        class="bg-primary-10 px-2 py-1 text-primary-100 fs-subtitle rounded-7 me-2">即買即用</span><span
                                        class="bg-primary-10 px-2 py-1 text-primary-100 fs-subtitle rounded-7">7
                                        天前可免費取消</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                        <div class="me-1 d-flex align-items-center">
                                            <svg width="12" height="12" viewBox="0 0 12 13" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M6.00001 9.53617L2.73751 11.2177C2.71281 11.2304 2.68507 11.236 2.65737 11.2339C2.62967 11.2318 2.6031 11.222 2.58062 11.2057C2.55815 11.1893 2.54065 11.1671 2.53008 11.1414C2.51951 11.1157 2.51628 11.0876 2.52076 11.0602L3.11326 7.43767L0.504757 4.85617C0.484628 4.83686 0.470348 4.81226 0.463551 4.78521C0.456754 4.75815 0.457716 4.72973 0.466326 4.70319C0.474936 4.67666 0.490846 4.65308 0.512234 4.63517C0.533622 4.61726 0.559622 4.60574 0.587257 4.60192L4.21501 4.04467L5.86501 0.767172C5.87745 0.742211 5.8966 0.721213 5.92031 0.706535C5.94403 0.691857 5.97137 0.684082 5.99926 0.684082C6.02715 0.684082 6.05448 0.691857 6.0782 0.706535C6.10191 0.721213 6.12107 0.742211 6.13351 0.767172L7.78351 4.04467L11.4113 4.60192C11.4387 4.60601 11.4645 4.61767 11.4857 4.63562C11.5069 4.65356 11.5227 4.67707 11.5313 4.70349C11.5399 4.72991 11.5409 4.7582 11.5343 4.78517C11.5276 4.81215 11.5136 4.83673 11.4938 4.85617L8.88751 7.43842L9.47851 11.0609C9.48282 11.0883 9.47947 11.1163 9.46883 11.1419C9.45819 11.1675 9.44068 11.1896 9.41823 11.2058C9.39579 11.222 9.36929 11.2317 9.34167 11.2338C9.31405 11.2359 9.28639 11.2303 9.26176 11.2177L6.00001 9.53617Z"
                                                    fill="#F6BD2B" />
                                            </svg>
                                        </div>
                                        <div class="d-flex align-items-center me-4">
                                            <p class="me-1 fs-subtitle text-neutral-80">4.2</p><span
                                                class="text-neutral-60 fs-subtitle">(333)</span>
                                        </div>
                                    </div>
                                    <div class="ps-4 border-start border-text-neutral-40 border-2">
                                        <p class="fs-subtitle text-neutral-80">500+ 個已訂購</p>
                                    </div>
                                </div>

                            </div>
                            <div class="pt-5 border-top border-text-neutral-40 border-2">
                                <p class="fs-6 fw-bolder lh-sm">NT$ 3,890</p>
                                <span class="fs-subtitle text-neutral-60 text-decoration-line-through">NT$
                                    4,920</span>
                            </div>
                        </div>
                        <div class="swiper-slide position-relative">
                            <div
                                class="position-absolute end-0 top-0 p-5 bg-black bg-opacity-50 blackground-blur img-heart">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12 20.3249C11.7667 20.3249 11.5293 20.2832 11.288 20.1999C11.0467 20.1166 10.834 19.9832 10.65 19.7999L8.925 18.2249C7.15833 16.6082 5.56233 15.0042 4.137 13.4129C2.71167 11.8216 1.99933 10.0672 2 8.1499C2 6.58324 2.525 5.2749 3.575 4.2249C4.625 3.1749 5.93333 2.6499 7.5 2.6499C8.38333 2.6499 9.21667 2.83724 10 3.2119C10.7833 3.58657 11.45 4.09924 12 4.7499C12.55 4.0999 13.2167 3.58757 14 3.2129C14.7833 2.83824 15.6167 2.65057 16.5 2.6499C18.0667 2.6499 19.375 3.1749 20.425 4.2249C21.475 5.2749 22 6.58324 22 8.1499C22 10.0666 21.2917 11.8249 19.875 13.4249C18.4583 15.0249 16.85 16.6332 15.05 18.2499L13.35 19.7999C13.1667 19.9832 12.9543 20.1166 12.713 20.1999C12.4717 20.2832 12.234 20.3249 12 20.3249ZM11.05 6.7499C10.5667 6.06657 10.05 5.54557 9.5 5.1869C8.95 4.82824 8.28333 4.64924 7.5 4.6499C6.5 4.6499 5.66667 4.98324 5 5.6499C4.33333 6.31657 4 7.1499 4 8.1499C4 9.01657 4.30833 9.93757 4.925 10.9129C5.54167 11.8882 6.27933 12.8339 7.138 13.7499C7.99667 14.6659 8.88 15.5242 9.788 16.3249C10.696 17.1256 11.4333 17.7839 12 18.2999C12.5667 17.7832 13.3043 17.1249 14.213 16.3249C15.1217 15.5249 16.005 14.6666 16.863 13.7499C17.721 12.8332 18.4583 11.8876 19.075 10.9129C19.6917 9.93824 20 9.01724 20 8.1499C20 7.1499 19.6667 6.31657 19 5.6499C18.3333 4.98324 17.5 4.6499 16.5 4.6499C15.7167 4.6499 15.05 4.82924 14.5 5.1879C13.95 5.54657 13.4333 6.06724 12.95 6.7499C12.8333 6.91657 12.6917 7.04157 12.525 7.1249C12.3583 7.20824 12.1833 7.2499 12 7.2499C11.8167 7.2499 11.6417 7.20824 11.475 7.1249C11.3083 7.04157 11.1667 6.91657 11.05 6.7499Z"
                                        fill="white" />
                                </svg>
                            </div>
                            <img class="rounded-8 mb-5" src="/assets/images/index/journey-3.png" alt="journey-3">
                            <div class="mb-5">
                                <h3 class="fs-base fw-bolder mb-2">大洋路經典一日遊｜中文導覽！體驗澳洲最夢幻的海岸線</h3>
                                <div class="mb-2">
                                    <span
                                        class="bg-primary-10 px-2 py-1 text-primary-100 fs-subtitle rounded-7 me-2">中文導覽</span><span
                                        class="bg-primary-10 px-2 py-1 text-primary-100 fs-subtitle rounded-7">5
                                        天前可免費取消</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                        <div class="me-1 d-flex align-items-center">
                                            <svg width="12" height="12" viewBox="0 0 12 13" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M6.00001 9.53617L2.73751 11.2177C2.71281 11.2304 2.68507 11.236 2.65737 11.2339C2.62967 11.2318 2.6031 11.222 2.58062 11.2057C2.55815 11.1893 2.54065 11.1671 2.53008 11.1414C2.51951 11.1157 2.51628 11.0876 2.52076 11.0602L3.11326 7.43767L0.504757 4.85617C0.484628 4.83686 0.470348 4.81226 0.463551 4.78521C0.456754 4.75815 0.457716 4.72973 0.466326 4.70319C0.474936 4.67666 0.490846 4.65308 0.512234 4.63517C0.533622 4.61726 0.559622 4.60574 0.587257 4.60192L4.21501 4.04467L5.86501 0.767172C5.87745 0.742211 5.8966 0.721213 5.92031 0.706535C5.94403 0.691857 5.97137 0.684082 5.99926 0.684082C6.02715 0.684082 6.05448 0.691857 6.0782 0.706535C6.10191 0.721213 6.12107 0.742211 6.13351 0.767172L7.78351 4.04467L11.4113 4.60192C11.4387 4.60601 11.4645 4.61767 11.4857 4.63562C11.5069 4.65356 11.5227 4.67707 11.5313 4.70349C11.5399 4.72991 11.5409 4.7582 11.5343 4.78517C11.5276 4.81215 11.5136 4.83673 11.4938 4.85617L8.88751 7.43842L9.47851 11.0609C9.48282 11.0883 9.47947 11.1163 9.46883 11.1419C9.45819 11.1675 9.44068 11.1896 9.41823 11.2058C9.39579 11.222 9.36929 11.2317 9.34167 11.2338C9.31405 11.2359 9.28639 11.2303 9.26176 11.2177L6.00001 9.53617Z"
                                                    fill="#F6BD2B" />
                                            </svg>
                                        </div>
                                        <div class="d-flex align-items-center me-4">
                                            <p class="me-1 fs-subtitle text-neutral-80">4.2</p><span
                                                class="text-neutral-60 fs-subtitle">(333)</span>
                                        </div>
                                    </div>
                                    <div class="ps-4 border-start border-text-neutral-40 border-2">
                                        <p class="fs-subtitle text-neutral-80">500+ 個已訂購</p>
                                    </div>
                                </div>

                            </div>
                            <div class="pt-5 border-top border-text-neutral-40 border-2">
                                <p class="fs-6 fw-bolder lh-sm">NT$ 3,690</p>
                                <span class="fs-subtitle text-neutral-60 text-decoration-line-through">NT$
                                    4,500</span>
                            </div>
                        </div>
                        <div class="swiper-slide position-relative">
                            <div
                                class="position-absolute end-0 top-0 p-5 bg-black bg-opacity-50 blackground-blur img-heart">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12 20.3249C11.7667 20.3249 11.5293 20.2832 11.288 20.1999C11.0467 20.1166 10.834 19.9832 10.65 19.7999L8.925 18.2249C7.15833 16.6082 5.56233 15.0042 4.137 13.4129C2.71167 11.8216 1.99933 10.0672 2 8.1499C2 6.58324 2.525 5.2749 3.575 4.2249C4.625 3.1749 5.93333 2.6499 7.5 2.6499C8.38333 2.6499 9.21667 2.83724 10 3.2119C10.7833 3.58657 11.45 4.09924 12 4.7499C12.55 4.0999 13.2167 3.58757 14 3.2129C14.7833 2.83824 15.6167 2.65057 16.5 2.6499C18.0667 2.6499 19.375 3.1749 20.425 4.2249C21.475 5.2749 22 6.58324 22 8.1499C22 10.0666 21.2917 11.8249 19.875 13.4249C18.4583 15.0249 16.85 16.6332 15.05 18.2499L13.35 19.7999C13.1667 19.9832 12.9543 20.1166 12.713 20.1999C12.4717 20.2832 12.234 20.3249 12 20.3249ZM11.05 6.7499C10.5667 6.06657 10.05 5.54557 9.5 5.1869C8.95 4.82824 8.28333 4.64924 7.5 4.6499C6.5 4.6499 5.66667 4.98324 5 5.6499C4.33333 6.31657 4 7.1499 4 8.1499C4 9.01657 4.30833 9.93757 4.925 10.9129C5.54167 11.8882 6.27933 12.8339 7.138 13.7499C7.99667 14.6659 8.88 15.5242 9.788 16.3249C10.696 17.1256 11.4333 17.7839 12 18.2999C12.5667 17.7832 13.3043 17.1249 14.213 16.3249C15.1217 15.5249 16.005 14.6666 16.863 13.7499C17.721 12.8332 18.4583 11.8876 19.075 10.9129C19.6917 9.93824 20 9.01724 20 8.1499C20 7.1499 19.6667 6.31657 19 5.6499C18.3333 4.98324 17.5 4.6499 16.5 4.6499C15.7167 4.6499 15.05 4.82924 14.5 5.1879C13.95 5.54657 13.4333 6.06724 12.95 6.7499C12.8333 6.91657 12.6917 7.04157 12.525 7.1249C12.3583 7.20824 12.1833 7.2499 12 7.2499C11.8167 7.2499 11.6417 7.20824 11.475 7.1249C11.3083 7.04157 11.1667 6.91657 11.05 6.7499Z"
                                        fill="white" />
                                </svg>
                            </div>
                            <img class="rounded-8 mb-5" src="/assets/images/index/journey-4.png" alt="journey-4">
                            <div class="mb-5">
                                <h3 class="fs-base fw-bolder mb-2">墨爾本市區導覽｜壁畫巷＋隱藏咖啡廳之旅，體驗本地咖啡文化、隱藏小巷拍照</h3>
                                <div class="mb-2">
                                    <span
                                        class="bg-primary-10 px-2 py-1 text-primary-100 fs-subtitle rounded-7 me-2">專業導覽</span><span
                                        class="bg-primary-10 px-2 py-1 text-primary-100 fs-subtitle rounded-7">3
                                        天前可免費取消</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                        <div class="me-1 d-flex align-items-center">
                                            <svg width="12" height="12" viewBox="0 0 12 13" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M6.00001 9.53617L2.73751 11.2177C2.71281 11.2304 2.68507 11.236 2.65737 11.2339C2.62967 11.2318 2.6031 11.222 2.58062 11.2057C2.55815 11.1893 2.54065 11.1671 2.53008 11.1414C2.51951 11.1157 2.51628 11.0876 2.52076 11.0602L3.11326 7.43767L0.504757 4.85617C0.484628 4.83686 0.470348 4.81226 0.463551 4.78521C0.456754 4.75815 0.457716 4.72973 0.466326 4.70319C0.474936 4.67666 0.490846 4.65308 0.512234 4.63517C0.533622 4.61726 0.559622 4.60574 0.587257 4.60192L4.21501 4.04467L5.86501 0.767172C5.87745 0.742211 5.8966 0.721213 5.92031 0.706535C5.94403 0.691857 5.97137 0.684082 5.99926 0.684082C6.02715 0.684082 6.05448 0.691857 6.0782 0.706535C6.10191 0.721213 6.12107 0.742211 6.13351 0.767172L7.78351 4.04467L11.4113 4.60192C11.4387 4.60601 11.4645 4.61767 11.4857 4.63562C11.5069 4.65356 11.5227 4.67707 11.5313 4.70349C11.5399 4.72991 11.5409 4.7582 11.5343 4.78517C11.5276 4.81215 11.5136 4.83673 11.4938 4.85617L8.88751 7.43842L9.47851 11.0609C9.48282 11.0883 9.47947 11.1163 9.46883 11.1419C9.45819 11.1675 9.44068 11.1896 9.41823 11.2058C9.39579 11.222 9.36929 11.2317 9.34167 11.2338C9.31405 11.2359 9.28639 11.2303 9.26176 11.2177L6.00001 9.53617Z"
                                                    fill="#F6BD2B" />
                                            </svg>
                                        </div>
                                        <div class="d-flex align-items-center me-4">
                                            <p class="me-1 fs-subtitle text-neutral-80">4.2</p><span
                                                class="text-neutral-60 fs-subtitle">(333)</span>
                                        </div>
                                    </div>
                                    <div class="ps-4 border-start border-text-neutral-40 border-2">
                                        <p class="fs-subtitle text-neutral-80">500+ 個已訂購</p>
                                    </div>
                                </div>

                            </div>
                            <div class="pt-5 border-top border-text-neutral-40 border-2">
                                <p class="fs-6 fw-bolder lh-sm">NT$ 1,280</p>
                                <span class="fs-subtitle text-neutral-60 text-decoration-line-through">NT$
                                    2,480</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="swiper MarqueeSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide w-auto">
                <img class="marquee" src="/assets/images/index/bg-title-1.svg" alt="">
            </div>
            <div class="swiper-slide w-auto">
                <img class="marquee" src="/assets/images/index/bg-title-2.svg" alt="">
            </div>
            <div class="swiper-slide w-auto">
                <img class="marquee" src="/assets/images/index/bg-title-3.svg" alt="">
            </div>
            <div class="swiper-slide w-auto">
                <img class="marquee" src="/assets/images/index/bg-title-1.svg" alt="">
            </div>
            <div class="swiper-slide w-auto">
                <img class="marquee" src="/assets/images/index/bg-title-2.svg" alt="">
            </div>
            <div class="swiper-slide w-auto">
                <img class="marquee" src="/assets/images/index/bg-title-3.svg" alt="">
            </div>
        </div>
    </div>
    <section class="py-10 py-lg-13 bg-primary-40 position-relative overflow-hidden">
        <img class="position-absolute z-2 d-none d-lg-block" style="left:calc(50% - 1200px);top:-360px"
            src="/assets/images/index/bg-up.svg" alt="bg-up">
        <svg class="position-absolute z-0 d-none d-lg-block" style="top:541px" width="1920" height="326"
            viewBox="0 0 1920 326" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M1567.59 0.00390972C1567.67 0.00396542 1567.74 0.00436606 1567.82 0.00488628L1572.96 0.0380894L1578.33 0.105472C1578.41 0.106457 1578.49 0.106953 1578.57 0.108402L1583.71 0.203128L1583.94 0.208011L1589.08 0.333011L1589.32 0.339847L1594.46 0.495121L1594.69 0.502933L1599.83 0.68848L1600.06 0.697269L1605.2 0.913089C1605.28 0.916355 1605.36 0.920112 1605.43 0.923832L1610.57 1.16895L1610.81 1.18067L1615.94 1.45703C1616.02 1.4612 1616.1 1.46512 1616.18 1.46973L1621.55 1.79004L1626.68 2.12598L1626.91 2.14161L1632.05 2.50782C1632.13 2.51327 1632.21 2.51853 1632.28 2.52442L1637.42 2.91993L1637.65 2.93848L1642.79 3.36328C1642.86 3.36955 1642.94 3.37612 1643.01 3.38282L1648.15 3.83692L1648.38 3.85743L1653.52 4.3418L1653.74 4.36328L1658.88 4.87696L1664.24 5.44239L1664.46 5.4668L1669.6 6.03809L1669.82 6.06348L1674.96 6.66407C1675.03 6.67262 1675.11 6.68147 1675.18 6.69043L1680.32 7.31934L1680.53 7.34668L1685.67 8.00489L1685.89 8.03321L1691.03 8.71875L1691.24 8.74805L1696.38 9.46289L1696.59 9.49317L1701.73 10.2363C1701.8 10.2465 1701.87 10.2561 1701.94 10.2666L1707.08 11.0371L1707.29 11.0693L1712.42 11.8682C1712.49 11.8788 1712.56 11.8894 1712.63 11.9004L1717.77 12.7266C1717.83 12.7375 1717.9 12.7484 1717.97 12.7598L1723.11 13.6133C1723.18 13.6245 1723.25 13.6359 1723.31 13.6475L1728.45 14.5273L1733.99 15.5049L1739.12 16.4395L1739.32 16.4756L1744.46 17.4356L1749.79 18.459L1749.98 18.4961L1755.12 19.5088L1760.45 20.585L1760.63 20.6231L1765.77 21.6865L1771.09 22.8145L1771.27 22.8535L1776.41 23.9678C1776.47 23.9807 1776.53 23.9937 1776.59 24.0068L1781.9 25.1846L1787.04 26.3477C1787.1 26.3608 1787.16 26.3743 1787.21 26.3877L1792.35 27.5742L1792.52 27.6143L1797.66 28.8252L1797.83 28.8652L1802.97 30.0996C1803.02 30.1129 1803.08 30.1261 1803.13 30.1397L1808.27 31.3975C1808.33 31.4107 1808.38 31.424 1808.43 31.4375L1813.57 32.7178L1818.87 34.0615L1819.03 34.1016L1824.32 35.4668L1829.46 36.8145L1829.61 36.8545L1834.75 38.2236C1834.8 38.2369 1834.85 38.2503 1834.9 38.2637L1840.04 39.6533L1840.18 39.6934L1845.32 41.1045L1845.46 41.1436L1850.74 42.6143L1855.88 44.0664L1861.15 45.5772L1861.29 45.6152L1866.43 47.1064L1866.56 47.1455L1871.7 48.6553L1876.96 50.2227L1877.09 50.2598L1882.23 51.8066C1882.27 51.8189 1882.31 51.8313 1882.35 51.8438L1887.49 53.4092L1892.86 55.0654L1898 56.665L1898.11 56.7012L1903.25 58.3174C1903.29 58.3289 1903.32 58.3409 1903.36 58.3525L1908.61 60.0205L1913.74 61.6699L1913.85 61.7031L1918.99 63.3682L1924.23 65.0811C1924.26 65.0918 1924.29 65.1034 1924.33 65.1143L1929.46 66.8086C1929.49 66.8191 1929.53 66.8302 1929.56 66.8408L1934.7 68.5498L1934.79 68.5811L1939.93 70.3037C1939.96 70.3137 1939.99 70.3239 1940.02 70.334L1945.15 72.0703C1945.18 72.0801 1945.21 72.0898 1945.24 72.0996L1950.38 73.8496C1950.41 73.859 1950.43 73.8685 1950.46 73.8779L1955.6 75.6406L1955.68 75.668L1960.82 77.4434L1960.9 77.4697L1966.03 79.2559C1966.06 79.2645 1966.08 79.2735 1966.11 79.2822L1971.25 81.0801L1971.32 81.1045L1976.45 82.9131L1976.52 82.9375L1981.66 84.7568L1981.73 84.7803L1986.86 86.6094L1986.93 86.6309L1992.06 88.4697L1997.26 90.3389L1997.32 90.3584L2002.45 92.2148C2002.47 92.2213 2002.49 92.2279 2002.51 92.2344L2007.65 94.0986C2028.41 101.635 2039.14 124.58 2031.6 145.346C2024.18 165.787 2001.83 176.499 1981.33 169.64L1980.35 169.3L1975.27 167.454L1970.13 165.599L1965.11 163.792L1960.03 161.976L1954.96 160.17L1949.82 158.351L1944.82 156.59L1939.76 154.818L1934.7 153.059L1929.64 151.312L1924.59 149.577L1919.45 147.829L1914.49 146.151L1909.35 144.429L1904.4 142.781L1899.26 141.087L1894.33 139.473L1889.29 137.841L1884.16 136.192L1879.13 134.594L1874.1 133.012L1869.07 131.447L1864.17 129.938L1859.16 128.409L1854.15 126.899L1849.14 125.408L1844 123.898L1838.99 122.446L1833.99 121.014L1828.99 119.601L1824.13 118.248L1819.1 116.864L1814.06 115.502L1809.1 114.18L1804.09 112.866L1799.09 111.576L1794.07 110.304L1789.17 109.083L1784.15 107.854L1779.31 106.691L1774.29 105.509L1769.35 104.367L1764.24 103.211L1759.35 102.126L1754.44 101.062L1749.55 100.025L1744.49 98.9775L1739.65 97.999L1734.58 97L1729.56 96.0371L1724.75 95.1357L1719.71 94.2207L1714.74 93.3438L1709.92 92.5176L1704.91 91.6865L1699.97 90.8936L1695 90.1211L1690.21 89.4023L1685.29 88.6904L1680.35 88.0029L1675.42 87.3447L1670.49 86.7139L1665.57 86.1113L1660.68 85.5391L1655.62 84.9766L1650.73 84.46L1645.84 83.9727L1641.1 83.5254L1636.1 83.083L1631.05 82.666L1626.19 82.292L1621.33 81.9473L1616.48 81.6289L1611.46 81.3311L1606.61 81.0713L1601.76 80.8389L1596.77 80.6289L1591.8 80.4512L1586.92 80.3037L1582.09 80.1865L1577.26 80.0977L1572.43 80.0361L1567.43 80.0029L1562.44 80L1557.61 80.0254L1552.77 80.0781L1547.92 80.1602L1542.94 80.2744L1538.1 80.4131L1533.1 80.5859L1528.1 80.79L1523.41 81.0068L1518.41 81.2686L1513.55 81.5498L1508.69 81.8604L1508.69 81.8613L1503.69 82.21L1498.83 82.5762L1493.78 82.9863L1488.92 83.4102L1484.04 83.8633L1479.16 84.3438L1474.27 84.8535L1469.36 85.3926L1464.47 85.957L1459.4 86.5703L1454.46 87.1973L1449.71 87.8252L1444.78 88.5029L1444.79 88.5039L1439.84 89.2109L1434.93 89.9414L1429.79 90.7334L1429.79 90.7324L1424.97 91.501L1420.13 92.2988L1420.13 92.2998L1415.01 93.1699L1410.18 94.0176L1405.18 94.9199L1400.37 95.8135L1395.34 96.7725L1390.47 97.7256L1385.44 98.7363L1380.57 99.7383L1375.46 100.816L1370.54 101.877L1365.7 102.944L1360.56 104.103L1355.65 105.229L1350.71 106.391L1345.83 107.558L1340.85 108.77L1335.81 110.021L1330.9 111.262L1325.88 112.55L1320.78 113.884L1320.77 113.883L1315.85 115.191L1310.88 116.53L1305.81 117.918L1305.81 117.917L1300.96 119.265L1295.96 120.673L1290.82 122.14L1285.95 123.548L1280.94 125.017L1275.8 126.541L1270.87 128.022L1265.78 129.569L1265.78 129.568L1260.88 131.075L1255.74 132.671L1255.74 132.67L1250.83 134.212L1245.8 135.808L1240.66 137.453L1235.73 139.047L1230.69 140.69L1225.56 142.383L1225.55 142.382L1220.51 144.057L1215.47 145.745L1210.51 147.418L1210.51 147.419L1205.45 149.136L1205.46 149.137L1200.32 150.896L1200.32 150.896L1195.34 152.612L1190.2 154.396L1185.14 156.165L1180.07 157.946L1175 159.738L1169.93 161.542L1164.86 163.356L1164.86 163.355L1159.83 165.159L1159.83 165.16L1154.7 167.014L1149.61 168.857L1144.57 170.691L1144.57 170.692L1139.44 172.57L1134.34 174.438L1134.34 174.438L1129.29 176.299L995.838 226.135C995.769 226.161 995.7 226.187 995.631 226.212L990.493 228.098C990.479 228.103 990.464 228.109 990.449 228.114L985.312 229.993C985.296 229.999 985.28 230.005 985.265 230.011L980.126 231.883C980.11 231.889 980.094 231.895 980.077 231.901L974.939 233.766C974.921 233.772 974.903 233.779 974.886 233.785L969.748 235.642C969.73 235.648 969.711 235.654 969.692 235.661L964.555 237.509C964.535 237.516 964.515 237.523 964.495 237.53L959.357 239.369C959.337 239.377 959.316 239.383 959.295 239.391L954.157 241.22C954.136 241.227 954.114 241.235 954.092 241.243L948.954 243.062C948.932 243.07 948.909 243.078 948.887 243.086L943.748 244.896C943.724 244.904 943.7 244.912 943.677 244.92L938.539 246.718C938.514 246.726 938.49 246.736 938.465 246.744L933.327 248.53C933.302 248.539 933.276 248.548 933.25 248.557L928.111 250.332C928.085 250.341 928.058 250.35 928.031 250.359L922.894 252.122C922.866 252.132 922.838 252.141 922.811 252.15L917.672 253.9C917.643 253.91 917.615 253.92 917.586 253.93L912.447 255.666C912.418 255.676 912.388 255.686 912.358 255.696L907.221 257.419C907.19 257.429 907.159 257.44 907.128 257.45L901.99 259.159C901.958 259.17 901.926 259.181 901.895 259.191L896.756 260.886C896.723 260.897 896.691 260.908 896.658 260.919L891.52 262.599C891.486 262.61 891.452 262.621 891.418 262.632L886.28 264.297C886.246 264.308 886.211 264.319 886.176 264.33L881.037 265.979C881.001 265.991 880.965 266.002 880.93 266.014L875.792 267.647C875.755 267.659 875.718 267.671 875.682 267.683L870.543 269.299C870.505 269.311 870.467 269.323 870.43 269.335L865.292 270.935C865.253 270.947 865.214 270.959 865.175 270.971L860.037 272.554C859.997 272.566 859.958 272.579 859.918 272.591L854.779 274.156C854.739 274.169 854.698 274.181 854.657 274.193L849.519 275.74C849.477 275.753 849.435 275.765 849.394 275.777L844.256 277.307C844.213 277.319 844.17 277.332 844.127 277.345L838.989 278.854C838.945 278.867 838.901 278.881 838.857 278.894L833.72 280.385C833.675 280.398 833.63 280.41 833.585 280.423L828.447 281.895C828.402 281.908 828.355 281.921 828.31 281.934L823.172 283.386C823.125 283.399 823.078 283.412 823.031 283.425L817.894 284.856C817.846 284.87 817.798 284.882 817.75 284.896L812.612 286.307C812.564 286.32 812.515 286.333 812.466 286.347L807.328 287.736C807.278 287.75 807.228 287.763 807.179 287.776L802.041 289.146C801.991 289.159 801.94 289.172 801.89 289.186L796.752 290.533C796.701 290.547 796.649 290.56 796.598 290.573L791.459 291.898C791.407 291.912 791.354 291.925 791.302 291.938L786.164 293.241C786.111 293.255 786.057 293.269 786.004 293.282L780.865 294.562C780.811 294.576 780.757 294.589 780.703 294.603L775.565 295.86C775.51 295.874 775.455 295.887 775.399 295.9L770.262 297.135C770.206 297.148 770.149 297.162 770.093 297.175L764.955 298.386C764.898 298.399 764.841 298.413 764.784 298.426L759.647 299.612C759.588 299.626 759.53 299.639 759.472 299.652L754.334 300.815C754.275 300.829 754.217 300.841 754.158 300.854L749.021 301.993C748.961 302.006 748.901 302.019 748.842 302.032L743.704 303.146C743.644 303.16 743.583 303.173 743.522 303.186L738.385 304.274C738.323 304.287 738.262 304.301 738.2 304.313L733.063 305.377C733 305.39 732.938 305.402 732.876 305.415L727.738 306.453C727.675 306.466 727.612 306.479 727.549 306.491L722.411 307.504C722.348 307.516 722.284 307.529 722.221 307.541L717.082 308.527C717.018 308.54 716.953 308.552 716.889 308.564L711.751 309.524C711.686 309.537 711.62 309.549 711.555 309.561L706.417 310.495C706.351 310.507 706.285 310.519 706.219 310.53L701.081 311.438C701.014 311.449 700.948 311.461 700.881 311.473L695.743 312.353C695.676 312.364 695.608 312.376 695.541 312.387L690.403 313.24C690.335 313.252 690.267 313.262 690.198 313.273L685.061 314.1C684.992 314.111 684.922 314.121 684.854 314.132L679.716 314.931C679.647 314.941 679.577 314.952 679.508 314.963L674.369 315.733C674.299 315.744 674.229 315.754 674.159 315.764L669.022 316.507C668.951 316.517 668.879 316.527 668.809 316.537L663.671 317.252C663.6 317.262 663.528 317.272 663.457 317.281L658.319 317.967C658.247 317.976 658.175 317.986 658.103 317.995L652.965 318.653C652.893 318.663 652.82 318.672 652.748 318.681L647.609 319.31C647.537 319.319 647.464 319.327 647.391 319.336L642.252 319.937C642.179 319.945 642.105 319.954 642.031 319.962L636.894 320.533C636.82 320.541 636.746 320.55 636.672 320.558L631.534 321.1C631.46 321.107 631.384 321.116 631.31 321.123L626.172 321.637C626.097 321.644 626.022 321.651 625.947 321.658L620.81 322.143C620.734 322.15 620.659 322.156 620.583 322.163L615.445 322.617C615.37 322.624 615.293 322.63 615.218 322.637L610.08 323.062C610.004 323.068 609.927 323.074 609.851 323.08L604.713 323.476C604.636 323.481 604.56 323.487 604.483 323.492L599.346 323.858C599.269 323.864 599.191 323.869 599.114 323.874L593.977 324.21C593.9 324.215 593.822 324.219 593.745 324.224L588.607 324.53C588.53 324.535 588.452 324.539 588.375 324.543L583.237 324.819C583.16 324.824 583.082 324.827 583.004 324.831L577.866 325.076C577.789 325.08 577.711 325.084 577.633 325.087L572.494 325.303C572.416 325.306 572.338 325.309 572.26 325.312L567.122 325.497C567.044 325.5 566.965 325.503 566.887 325.505L561.749 325.66C561.671 325.663 561.592 325.665 561.514 325.667L556.376 325.792C556.298 325.794 556.219 325.795 556.141 325.797L551.003 325.892C550.924 325.893 550.845 325.894 550.767 325.895L545.629 325.959C545.55 325.96 545.471 325.961 545.393 325.962L540.255 325.995C540.176 325.996 540.097 325.996 540.019 325.996L534.881 326C534.802 326 534.723 325.999 534.645 325.999L529.507 325.973C529.428 325.972 529.348 325.972 529.27 325.971L524.132 325.914C524.053 325.913 523.975 325.911 523.897 325.91L518.759 325.823C518.68 325.822 518.601 325.82 518.522 325.818L513.385 325.701C513.306 325.699 513.228 325.697 513.149 325.694L508.012 325.547C507.933 325.545 507.855 325.542 507.776 325.539L502.639 325.361C502.561 325.359 502.482 325.356 502.404 325.353L497.266 325.144C497.188 325.14 497.11 325.137 497.032 325.134L491.895 324.895C491.817 324.891 491.739 324.888 491.661 324.884L486.523 324.615C486.446 324.611 486.368 324.606 486.29 324.602L481.152 324.304C481.075 324.299 480.998 324.294 480.921 324.289L475.783 323.961C475.706 323.956 475.629 323.951 475.552 323.945L470.414 323.587C470.338 323.582 470.261 323.576 470.185 323.57L465.046 323.182C464.97 323.176 464.894 323.17 464.817 323.164L459.68 322.746C459.604 322.74 459.527 322.733 459.451 322.727L454.314 322.279C454.238 322.273 454.162 322.266 454.087 322.259L448.949 321.782C448.874 321.775 448.799 321.767 448.724 321.76L443.586 321.254C443.511 321.247 443.437 321.239 443.362 321.231L438.224 320.695C438.149 320.688 438.075 320.68 438.001 320.672L432.863 320.107C432.79 320.099 432.716 320.091 432.643 320.082L427.505 319.488C427.432 319.48 427.358 319.472 427.285 319.463L422.147 318.84C422.075 318.831 422.001 318.823 421.929 318.813L416.791 318.162C416.719 318.153 416.647 318.143 416.575 318.134L411.437 317.455C411.365 317.446 411.294 317.436 411.223 317.426L406.085 316.718C406.014 316.708 405.942 316.698 405.871 316.688L400.733 315.952C400.663 315.942 400.593 315.931 400.523 315.921L395.385 315.157C395.315 315.147 395.245 315.136 395.176 315.125L390.038 314.334C389.969 314.323 389.9 314.312 389.831 314.301L384.693 313.481C384.625 313.471 384.557 313.46 384.488 313.448L379.351 312.602C379.283 312.59 379.215 312.579 379.147 312.567L374.01 311.694C373.943 311.683 373.875 311.671 373.809 311.659L368.671 310.759C368.605 310.747 368.538 310.735 368.472 310.723L363.334 309.795C363.269 309.783 363.203 309.772 363.138 309.76L358 308.806C357.935 308.794 357.87 308.781 357.806 308.769L352.668 307.788C352.604 307.776 352.54 307.763 352.477 307.751L347.338 306.745C347.275 306.733 347.212 306.72 347.149 306.707L342.011 305.675C341.949 305.662 341.886 305.65 341.824 305.637L336.687 304.579C336.625 304.566 336.563 304.554 336.502 304.541L331.364 303.458C331.303 303.445 331.242 303.432 331.182 303.419L326.044 302.311C325.984 302.298 325.924 302.285 325.864 302.271L320.727 301.14C320.668 301.127 320.609 301.113 320.55 301.1L315.412 299.942C315.354 299.929 315.295 299.917 315.237 299.903L310.1 298.722C310.042 298.709 309.985 298.695 309.928 298.682L304.79 297.477C304.734 297.463 304.677 297.45 304.621 297.437L299.483 296.208C299.428 296.195 299.372 296.181 299.316 296.168L294.179 294.916C294.124 294.903 294.069 294.889 294.015 294.875L288.877 293.601C288.823 293.587 288.77 293.573 288.717 293.56L283.578 292.263C283.525 292.249 283.473 292.235 283.42 292.222L278.282 290.902C278.231 290.889 278.179 290.876 278.127 290.862L272.989 289.52C272.938 289.506 272.887 289.493 272.836 289.479L267.698 288.116C267.649 288.103 267.598 288.09 267.549 288.076L262.411 286.691C262.362 286.678 262.313 286.665 262.265 286.651L257.126 285.245C257.078 285.232 257.03 285.219 256.982 285.206L251.845 283.779C251.798 283.766 251.751 283.752 251.704 283.739L246.565 282.293C246.52 282.28 246.474 282.267 246.428 282.254L241.289 280.786C241.244 280.773 241.199 280.761 241.154 280.748L236.017 279.262C235.973 279.249 235.929 279.236 235.885 279.223L230.746 277.718C230.703 277.705 230.66 277.691 230.617 277.679L225.479 276.154C225.437 276.142 225.395 276.13 225.353 276.117L220.215 274.574C220.174 274.562 220.133 274.55 220.092 274.537L214.953 272.976C214.913 272.963 214.873 272.952 214.833 272.939L209.695 271.36C209.656 271.348 209.617 271.336 209.578 271.324L204.439 269.729C204.401 269.717 204.363 269.704 204.325 269.692L199.188 268.079C199.15 268.067 199.113 268.056 199.076 268.044L193.938 266.415C193.902 266.404 193.866 266.392 193.83 266.381L188.692 264.735C188.657 264.724 188.622 264.712 188.587 264.701L183.449 263.04C183.415 263.029 183.381 263.018 183.347 263.007L178.208 261.33C178.175 261.319 178.142 261.309 178.109 261.298L172.971 259.606C172.939 259.596 172.907 259.585 172.875 259.574L167.737 257.868C167.706 257.858 167.675 257.847 167.644 257.837L162.506 256.117C162.476 256.107 162.445 256.097 162.415 256.087L157.277 254.354C157.248 254.344 157.219 254.334 157.19 254.324L152.053 252.577C152.025 252.568 151.997 252.558 151.969 252.549L146.831 250.789C146.804 250.78 146.776 250.771 146.749 250.762L141.611 248.989C141.585 248.98 141.559 248.972 141.533 248.963L136.396 247.179C136.371 247.17 136.345 247.162 136.32 247.153L131.183 245.357C131.159 245.349 131.134 245.341 131.11 245.333L125.973 243.526C125.95 243.518 125.926 243.51 125.903 243.502L120.766 241.686C120.744 241.678 120.722 241.67 120.7 241.662L115.562 239.836C115.542 239.829 115.521 239.821 115.5 239.813L110.361 237.977C110.341 237.969 110.322 237.962 110.302 237.955L105.164 236.109C105.145 236.103 105.126 236.096 105.107 236.089L99.9697 234.235C99.9519 234.229 99.9338 234.222 99.916 234.216L94.7773 232.353C94.7607 232.346 94.7442 232.34 94.7275 232.334L89.5889 230.464C89.5732 230.458 89.5577 230.452 89.542 230.446L84.4043 228.568C84.3894 228.563 84.3742 228.558 84.3594 228.553L79.2217 226.668C79.2078 226.663 79.1935 226.657 79.1797 226.652L74.042 224.761C73.9833 224.739 73.9248 224.717 73.8662 224.695L-59.6885 174.82L-64.6484 173.001L-64.6475 173L-69.7422 171.137C-90.4887 163.547 -101.155 140.577 -93.5654 119.83C-85.9759 99.0833 -63.0046 88.4173 -42.2578 96.0068L-37.1201 97.8857C-37.1055 97.8911 -37.0908 97.897 -37.0762 97.9023L-31.7305 99.8652L101.785 149.725L106.773 151.562L111.866 153.43L117.005 155.308L122.044 157.143L127.183 159.006L132.266 160.84L137.348 162.665L142.362 164.458L147.435 166.262L152.503 168.054L157.569 169.835L162.632 171.604L167.77 173.387L172.748 175.104L177.886 176.863L182.939 178.581L187.9 180.255L192.944 181.943L197.985 183.617L203.124 185.309L208.144 186.946L213.093 188.547L218.23 190.192L223.148 191.752L228.171 193.329L233.31 194.925L238.209 196.431L243.348 197.991L248.234 199.459L253.368 200.981L258.381 202.451L263.252 203.86L268.383 205.325L273.386 206.733L278.241 208.082L283.31 209.469L288.222 210.793L293.205 212.116L298.31 213.448L303.327 214.738L308.297 215.992L313.27 217.227L318.182 218.424L323.138 219.608L328.085 220.77L333.022 221.904L338.107 223.05L343.02 224.133L347.926 225.19L352.983 226.257L357.831 227.254L362.902 228.273L367.736 229.22L372.792 230.185L377.609 231.079L382.607 231.981L387.624 232.86L392.562 233.7L397.403 234.498L402.222 235.267L407.326 236.053L412.273 236.788L417.216 237.496L422.135 238.173L426.891 238.802L431.836 239.429L436.878 240.039L441.813 240.608L446.716 241.147L451.577 241.653L456.476 242.136L461.333 242.587L466.229 243.014L471.245 243.422L476.112 243.789L480.981 244.13L485.982 244.449L490.836 244.73L495.838 244.992L500.522 245.209L505.534 245.413L510.535 245.586L515.373 245.725L520.208 245.836L525.201 245.921L530.036 245.974L534.869 245.999L539.86 245.996L544.856 245.963L549.688 245.901L554.523 245.812L559.356 245.695L564.358 245.545L569.194 245.37L574.202 245.16L579.042 244.928L583.894 244.668L588.908 244.37L593.764 244.052L598.625 243.707L603.489 243.333L608.516 242.917L613.532 242.474L618.274 242.026L623.157 241.539L628.058 241.021L633.114 240.46L638.007 239.888L642.805 239.301L647.851 238.654L652.756 237.999L657.718 237.309L662.668 236.593L667.432 235.879L672.405 235.105L677.344 234.312L682.316 233.487L687.169 232.656L692.172 231.772L697.142 230.869L701.995 229.963L707.049 228.992L712.035 228.01L716.96 227.014L721.98 225.975L726.869 224.937L731.78 223.873L736.673 222.789L741.739 221.642L746.604 220.519L751.742 219.308L756.578 218.146L761.601 216.916L766.527 215.688L771.478 214.434L776.46 213.148L781.53 211.819L786.585 210.473L791.527 209.135L796.565 207.752L801.459 206.388L806.462 204.975L811.424 203.554L816.429 202.102L821.493 200.613L826.576 199.101L831.478 197.624L836.484 196.1L841.513 194.55L846.529 192.988L851.596 191.394L856.595 189.805L861.725 188.158L866.757 186.527L871.793 184.881L876.833 183.218L881.782 181.571L886.92 179.849L891.882 178.171L897.02 176.422L901.993 174.715L907.132 172.94L912.192 171.181L917.256 169.409L922.254 167.649L927.392 165.83L932.464 164.024L937.54 162.208L942.563 160.401L947.7 158.545L952.735 156.718L957.874 154.846L962.921 152.999L967.976 151.144L1101.43 101.305L1101.61 101.239L1106.75 99.3477L1106.79 99.332L1111.93 97.4473C1111.94 97.4418 1111.96 97.437 1111.97 97.4316L1117.11 95.5537L1117.16 95.5361L1122.3 93.666L1122.35 93.6475L1127.48 91.7852L1127.54 91.7656L1132.73 89.8906L1137.87 88.0449L1137.93 88.0234L1143.07 86.1865C1143.09 86.1791 1143.11 86.1724 1143.13 86.165L1148.27 84.3379L1148.33 84.3145L1153.47 82.498L1158.68 80.667L1158.75 80.6426L1163.89 78.8467L1163.96 78.8213L1169.1 77.0371C1169.13 77.0281 1169.15 77.0197 1169.18 77.0107L1174.32 75.2383L1174.4 75.2109L1179.54 73.4512C1179.57 73.4416 1179.59 73.4324 1179.62 73.4229L1184.76 71.6758C1184.79 71.6659 1184.82 71.6563 1184.85 71.6465L1190.07 69.8828L1195.21 68.1631L1195.31 68.1318L1200.44 66.4258L1200.54 66.3936L1205.68 64.7021C1205.71 64.6912 1205.74 64.6807 1205.78 64.6699L1210.92 62.9932C1210.95 62.982 1210.98 62.971 1211.02 62.96L1216.16 61.2988C1216.19 61.2875 1216.23 61.2759 1216.26 61.2647L1221.4 59.6201L1221.51 59.585L1226.64 57.9561L1231.89 56.3076L1232.01 56.2715L1237.15 54.6758C1237.19 54.6636 1237.23 54.6517 1237.26 54.6397L1242.4 53.0606L1242.52 53.0244L1247.66 51.4629C1247.7 51.4504 1247.74 51.4382 1247.78 51.4258L1252.92 49.8828L1253.05 49.8457L1258.19 48.3213L1258.32 48.2822L1263.45 46.7773L1263.59 46.7383L1268.72 45.252L1268.86 45.2139L1274 43.7471L1274.13 43.707L1279.27 42.2607L1279.41 42.2207L1284.55 40.7939C1284.6 40.7807 1284.65 40.768 1284.7 40.7549L1289.83 39.3486L1289.98 39.3086L1295.12 37.9238L1295.27 37.8838L1300.41 36.5205L1305.7 35.1377L1305.85 35.0977L1310.99 33.7783L1311.15 33.7373L1316.29 32.4404C1316.34 32.4269 1316.39 32.4127 1316.45 32.3994L1321.58 31.125L1326.89 29.832L1327.05 29.792L1332.19 28.5635L1332.36 28.5234L1337.67 27.2783L1342.81 26.0967L1348.12 24.9004C1348.18 24.8871 1348.24 24.8734 1348.3 24.8604L1353.43 23.7285L1353.61 23.6885L1358.93 22.542L1364.07 21.459L1369.39 20.3633L1369.58 20.3252L1374.72 19.293C1374.78 19.2803 1374.84 19.2673 1374.91 19.2549L1380.04 18.249C1380.11 18.2365 1380.17 18.2241 1380.24 18.2119L1385.57 17.1943L1390.71 16.2402L1390.9 16.2051L1396.04 15.2773L1396.24 15.2422L1401.58 14.3057L1406.72 13.4326C1406.78 13.4211 1406.85 13.4096 1406.92 13.3984L1412.06 12.5518C1412.12 12.5405 1412.19 12.5294 1412.26 12.5186L1417.4 11.6992L1417.61 11.666L1422.74 10.875C1422.81 10.8642 1422.88 10.8532 1422.95 10.8428L1428.09 10.0791C1428.16 10.0687 1428.23 10.0579 1428.3 10.0479L1433.65 9.28223L1438.79 8.57422L1444.14 7.86621C1444.22 7.8567 1444.29 7.84701 1444.36 7.83789L1449.5 7.18653L1454.85 6.53711L1460.21 5.91797C1460.28 5.90946 1460.36 5.90068 1460.43 5.89258L1465.57 5.32813L1470.93 4.76856L1471.16 4.7461L1476.29 4.24024L1476.52 4.21778L1481.66 3.74121L1481.88 3.72071L1487.02 3.27344L1487.25 3.25391L1492.39 2.83594L1497.75 2.42969L1497.98 2.41309L1503.12 2.05469L1503.35 2.03907L1508.49 1.71094C1508.57 1.706 1508.64 1.70079 1508.72 1.69629L1514.09 1.38477L1519.23 1.11621L1524.6 0.866214L1529.97 0.647464L1530.21 0.638675L1535.34 0.460941C1535.42 0.458224 1535.5 0.455385 1535.58 0.453128L1540.72 0.305668C1540.8 0.303412 1540.87 0.301603 1540.95 0.299808L1546.09 0.181644L1546.33 0.176761L1551.7 0.085941L1556.84 0.0293003L1557.08 0.0273472L1562.21 0.000980029C1562.29 0.000570928 1562.37 -5.20168e-05 1562.45 3.46681e-06L1567.59 0.00390972Z"
                fill="#F3EEEC" fill-opacity="0.4" />
        </svg>
        <img class="position-absolute z-0 d-none d-lg-block" style="right:calc(50% - 940px);bottom:-480px"
            src="/assets/images/index/bg-down.svg" alt="bg-down">
        <div class="container">
            <div class="mb-7 position-relative z-1">
                <img class="rounded-5" src="/assets/images/index/card.png" alt="card">
            </div>
            <div class="bg-primary-10 bg-opacity-50 p-9 rounded-6 position-relative z-1">
                <div class="d-flex flex-column flex-lg-row justify-content-lg-between">
                    <div>
                        <h3 class="fw-bolder fs-lg-1 fs-5 text-primary-100 mb-5">為什麼選擇 ZOBAA ?</h3>
                        <p class="text-neutral-80 fs-subtitle fs-lg-base mb-7">不只是帶你抵達目的地，更在每一次出發前，替你預想所有細節。<br>ZOBAA 希望你能放心探索世界，把記憶留給旅程本身。</p>
                        <button type="button"
                            class="d-none d-lg-flex btn-customer-dark fs-6 py-7 px-9 d-flex justify-content-between align-items-center lh-sm">
                            立即探索我們的精心旅程
                            <div class="p-1">
                                <svg class="ms-5" width="32" height="32" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect width="32" height="32" rx="16" fill="white" />
                                    <g clip-path="url(#clip0_87_13887)">
                                        <path d="M16 8L14.59 9.41L20.17 15H8V17H20.17L14.59 22.59L16 24L24 16L16 8Z"
                                            fill="black" />
                                    </g>
                                </svg>
                            </div>
                        </button>
                    </div>
                    <div class="d-flex flex-column flex-lg-row gap-5 position-relative mb-lg-0 mb-7">
                        <div class="box bg-white py-lg-16 px-lg-9 p-7 rounded-4">
                            <div class="d-flex align-items-lg-center mb-2">
                                <p class="fs-lg-1 fs-3 me-2 fw-bolder text-primary-100">8 年</p>
                                <p class="align-self-start"><svg class="add-tag" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M24 14.8706H15.1059V24H8.89412V14.8706H0V9.12941H8.89412V0H15.1059V9.12941H24V14.8706Z"
                                            fill="#4A3830" />
                                    </svg>
                                </p>
                            </div>
                            <p class="fs-7 fw-bolder lh-sm text-primary-80">旅遊企劃經驗</p>
                        </div>
                        <div class="box bg-white py-lg-16 px-lg-9 p-7 rounded-4">
                            <div class="d-flex align-items-center mb-2">
                                <p class="fs-lg-1 fs-3 me-2 fw-bolder text-primary-100">30,000</p>
                                <p class="align-self-start"><svg class="add-tag" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M24 14.8706H15.1059V24H8.89412V14.8706H0V9.12941H8.89412V0H15.1059V9.12941H24V14.8706Z"
                                            fill="#4A3830" />
                                    </svg>
                                </p>
                            </div>
                            <p class="fs-7 fw-bolder lh-sm text-primary-80">旅人五星好評</p>
                        </div>
                    </div>
                    <button type="button"
                    class="d-lg-none d-flex btn-customer-dark fs-6 py-7 px-9 d-flex justify-content-between align-items-center lh-sm">
                    立即探索我們的精心旅程
                    <div class="p-1">
                        <svg class="ms-5" width="32" height="32" viewBox="0 0 32 32" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect width="32" height="32" rx="16" fill="white" />
                            <g clip-path="url(#clip0_87_13887)">
                                <path d="M16 8L14.59 9.41L20.17 15H8V17H20.17L14.59 22.59L16 24L24 16L16 8Z"
                                    fill="black" />
                            </g>
                        </svg>
                    </div>
                </button>
                </div>

            </div>
        </div>
    </section>
</main>