<main>
    <section class="pt-6">
        <div class="card-stack">
            <div id="card1" class="card rounded-top-5 border-0 text-white position-absolute" style="min-height: 614px;">
                <img src="/assets/images/avatar/lg/img_avatar_lg02.png" class="card-img rounded-top-5 img-fluid"
                    alt="avatar_lg04" style="height: 414px; object-fit:cover;">
                <!-- Jump Icon -->
                <div class="position-absolute start-50 translate-middle-x">
                    <div class="jump-icon-box d-flex align-items-center">
                        <div class="jump-heart-icon d-flex justify-content-center align-items-center"
                            style="height: 88px;width: 88px;">
                            <svg width="75" height="70" viewBox="0 0 75 70" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M72.6288 13.2682C82.4159 35.2503 57.7445 67.5548 56.6837 68.9076C56.4054 69.2673 56.0424 69.5524 55.627 69.7374C55.2116 69.9223 54.7568 70.0014 54.3033 69.9675C52.5881 69.8506 12.0729 66.5691 2.28576 44.5869C-0.00667352 39.4223 -0.156895 33.5593 1.86805 28.2842C3.893 23.009 7.92775 18.7524 13.0871 16.4484C19.5719 13.5612 26.4911 13.8219 32.1289 16.9598C33.5694 10.6705 38.0055 5.35399 44.4902 2.4668C49.6548 0.174361 55.5178 0.0241404 60.793 2.04909C66.0681 4.07404 70.3247 8.10879 72.6288 13.2682Z"
                                    fill="#01A06A" />
                            </svg>
                        </div>
                        <div class="jump-star-icon d-flex justify-content-center align-items-center"
                            style="height: 88px;width: 88px;">
                            <svg width="78" height="75" viewBox="0 0 78 75" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M75.7225 34.5722L60.2538 47.92L64.9666 67.8816C65.2266 68.9652 65.1597 70.1016 64.7742 71.1472C64.3887 72.1927 63.702 73.1006 62.8007 73.7561C61.8995 74.4116 60.8243 74.7853 59.7108 74.83C58.5973 74.8747 57.4955 74.5884 56.5447 74.0072L39.1853 63.3235L21.8156 74.0072C20.8649 74.585 19.7645 74.8686 18.6529 74.8223C17.5414 74.7759 16.4684 74.4017 15.569 73.7468C14.6697 73.0919 13.9843 72.1855 13.599 71.1418C13.2138 70.0981 13.1459 68.9638 13.4041 67.8816L18.1341 47.92L2.66533 34.5722C1.82417 33.8452 1.21582 32.8865 0.916272 31.8158C0.61672 30.7452 0.639237 29.61 0.981009 28.552C1.32278 27.4941 1.96866 26.5602 2.83799 25.8672C3.70732 25.1741 4.76157 24.7525 5.86908 24.655L26.1503 23.0188L33.9741 4.08502C34.3976 3.05314 35.1183 2.1705 36.0447 1.54931C36.9711 0.928116 38.0613 0.596436 39.1767 0.596436C40.2921 0.596436 41.3823 0.928116 42.3087 1.54931C43.2351 2.1705 43.9559 3.05314 44.3794 4.08502L52.1997 23.0188L72.481 24.655C73.5907 24.7489 74.648 25.1681 75.5205 25.8602C76.393 26.5523 77.0418 27.4865 77.3857 28.5458C77.7296 29.605 77.7533 30.7422 77.4538 31.8148C77.1542 32.8874 76.5448 33.8478 75.7019 34.5756L75.7225 34.5722Z"
                                    fill="url(#paint0_linear_4844_16205)" />
                                <defs>
                                    <linearGradient id="paint0_linear_4844_16205" x1="39.1846" y1="0.596436"
                                        x2="39.1846" y2="74.8345" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#97C2F9" />
                                        <stop offset="1" stop-color="#3164E4" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="jump-dislike-icon d-flex justify-content-center align-items-center"
                            style="height: 88px;width: 88px;">
                            <svg width="75" height="74" viewBox="0 0 75 74" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4.19506 43.5046C3.47549 43.7808 2.81738 44.196 2.25829 44.7266C1.69919 45.2571 1.25007 45.8926 0.93657 46.5968C0.623072 47.3009 0.451339 48.0599 0.431164 48.8304C0.410989 49.6009 0.542763 50.3678 0.818981 51.0874C1.0952 51.8069 1.51045 52.4651 2.041 53.0241C2.57156 53.5832 3.20705 54.0324 3.91117 54.3459C4.6153 54.6594 5.37429 54.8311 6.14479 54.8513C6.91529 54.8714 7.68222 54.7397 8.40179 54.4635L33.9045 44.6683L43.6899 70.1747C43.9662 70.8943 44.3814 71.5524 44.912 72.1115C45.4425 72.6706 46.078 73.1197 46.7821 73.4332C47.4863 73.7467 48.2452 73.9185 49.0157 73.9386C49.7862 73.9588 50.5532 73.827 51.2727 73.5508C51.9923 73.2746 52.6504 72.8594 53.2095 72.3288C53.7686 71.7983 54.2177 71.1628 54.5312 70.4586C54.8447 69.7545 55.0165 68.9955 55.0366 68.225C55.0568 67.4545 54.925 66.6876 54.6488 65.968L44.8537 40.4653L70.3601 30.6799C71.8134 30.122 72.9855 29.0097 73.6186 27.5877C74.2517 26.1656 74.294 24.5503 73.7362 23.0971C73.1784 21.6438 72.0661 20.4717 70.644 19.8386C69.222 19.2054 67.6066 19.1631 66.1534 19.721L40.6507 29.5161L30.8653 4.00969C30.589 3.29012 30.1738 2.632 29.6432 2.0729C29.1127 1.51381 28.4772 1.0647 27.7731 0.751202C27.0689 0.437704 26.3099 0.265958 25.5394 0.245781C24.7689 0.225605 24.002 0.357388 23.2824 0.633605C22.5629 0.909822 21.9048 1.32507 21.3457 1.85563C20.7866 2.38619 20.3374 3.02167 20.024 3.7258C19.7105 4.42993 19.5387 5.18891 19.5185 5.95941C19.4984 6.72991 19.6301 7.49684 19.9064 8.21641L29.7015 33.7191L4.19506 43.5046Z"
                                    fill="#F52761" />
                            </svg>

                        </div>
                    </div>
                </div>
                <div class="card-img-overlay p-0 d-flex flex-column justify-content-end">
                    <div class="bg-white rounded-top-5 pt-9 p-8 pb-0 position-relative">
                        <!-- Icon -->
                        <button id="dislike-icon1"
                            class="bg-white border-0 shadow-sm rounded-pill d-flex justify-content-center align-items-center position-absolute dislike-icon"
                            style="height: 64px;width: 64px;">
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_4568_30991)">
                                    <path
                                        d="M22.7857 20.1452C22.9591 20.3186 23.0967 20.5244 23.1905 20.751C23.2844 20.9776 23.3327 21.2204 23.3327 21.4657C23.3327 21.7109 23.2844 21.9538 23.1905 22.1803C23.0967 22.4069 22.9591 22.6128 22.7857 22.7862C22.6123 22.9596 22.4064 23.0972 22.1798 23.191C21.9533 23.2849 21.7104 23.3332 21.4652 23.3332C21.2199 23.3332 20.9771 23.2849 20.7505 23.191C20.5239 23.0972 20.3181 22.9596 20.1447 22.7862L13.9993 16.6385L7.85403 22.7862C7.68062 22.9596 7.47475 23.0972 7.24817 23.191C7.0216 23.2849 6.77876 23.3332 6.53351 23.3332C6.28827 23.3332 6.04543 23.2849 5.81885 23.191C5.59228 23.0972 5.38641 22.9596 5.21299 22.7862C5.03958 22.6128 4.90202 22.4069 4.80817 22.1803C4.71432 21.9538 4.66602 21.7109 4.66602 21.4657C4.66602 21.2204 4.71432 20.9776 4.80817 20.751C4.90202 20.5244 5.03958 20.3186 5.21299 20.1452L11.3606 13.9998L5.21299 7.85452C4.86277 7.5043 4.66602 7.02929 4.66602 6.534C4.66602 6.03871 4.86277 5.5637 5.21299 5.21348C5.56322 4.86326 6.03822 4.6665 6.53351 4.6665C7.0288 4.6665 7.50381 4.86326 7.85403 5.21348L13.9993 11.3611L20.1447 5.21348C20.3181 5.04007 20.5239 4.90251 20.7505 4.80866C20.9771 4.71481 21.2199 4.6665 21.4652 4.6665C21.7104 4.6665 21.9533 4.71481 22.1798 4.80866C22.4064 4.90251 22.6123 5.04007 22.7857 5.21348C22.9591 5.38689 23.0967 5.59276 23.1905 5.81934C23.2844 6.04591 23.3327 6.28876 23.3327 6.534C23.3327 6.77924 23.2844 7.02209 23.1905 7.24866C23.0967 7.47524 22.9591 7.68111 22.7857 7.85452L16.6381 13.9998L22.7857 20.1452Z"
                                        fill="#F52761" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_4568_30991">
                                        <rect width="28" height="28" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>

                        </button>
                        <button id="star-icon1"
                            class="bg-accent-600 border-0 shadow-sm rounded-pill d-flex justify-content-center align-items-center position-absolute star-icon"
                            style="height: 64px;width: 64px;">
                            <svg width="28" height="28" viewBox="0 0 29 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M26.1264 12.5619L21.2045 16.809L22.704 23.1604C22.7868 23.5052 22.7655 23.8667 22.6428 24.1994C22.5202 24.5321 22.3016 24.821 22.0149 25.0295C21.7282 25.2381 21.386 25.357 21.0317 25.3712C20.6774 25.3855 20.3269 25.2944 20.0243 25.1094L14.5009 21.7101L8.97419 25.1094C8.67169 25.2933 8.32155 25.3835 7.96787 25.3688C7.61419 25.354 7.27278 25.235 6.98663 25.0266C6.70048 24.8182 6.48238 24.5298 6.3598 24.1977C6.23723 23.8656 6.21565 23.5047 6.29778 23.1604L7.80278 16.809L2.88091 12.5619C2.61327 12.3306 2.4197 12.0256 2.32439 11.6849C2.22908 11.3442 2.23624 10.983 2.34499 10.6464C2.45373 10.3098 2.65924 10.0127 2.93585 9.79215C3.21245 9.57163 3.54789 9.43748 3.90028 9.40647L10.3534 8.88584L12.8428 2.86147C12.9775 2.53314 13.2069 2.2523 13.5016 2.05465C13.7964 1.857 14.1433 1.75146 14.4982 1.75146C14.8531 1.75146 15.2 1.857 15.4947 2.05465C15.7895 2.2523 16.0188 2.53314 16.1536 2.86147L18.6418 8.88584L25.095 9.40647C25.4481 9.43633 25.7845 9.56973 26.0621 9.78994C26.3397 10.0102 26.5462 10.3074 26.6556 10.6444C26.765 10.9815 26.7725 11.3433 26.6772 11.6846C26.5819 12.0259 26.388 12.3315 26.1198 12.563L26.1264 12.5619Z"
                                    fill="white" />
                            </svg>

                        </button>
                        <button id="heart-icon1"
                            class="bg-primary-600 border-0 shadow-sm rounded-pill d-flex justify-content-center align-items-center position-absolute heart-icon"
                            style="height: 64px;width: 64px;">
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M26.25 11.1562C26.25 18.8125 14.898 25.0097 14.4145 25.2656C14.2871 25.3342 14.1447 25.37 14 25.37C13.8553 25.37 13.7129 25.3342 13.5855 25.2656C13.102 25.0097 1.75 18.8125 1.75 11.1562C1.75203 9.35837 2.46713 7.63471 3.73842 6.36342C5.00971 5.09213 6.73337 4.37703 8.53125 4.375C10.7898 4.375 12.7673 5.34625 14 6.98797C15.2327 5.34625 17.2102 4.375 19.4688 4.375C21.2666 4.37703 22.9903 5.09213 24.2616 6.36342C25.5329 7.63471 26.248 9.35837 26.25 11.1562Z"
                                    fill="white" />
                            </svg>
                        </button>
                        <div class="d-flex align-items-center mb-6" data-bs-toggle="collapse" href="#collapseContent1"
                            role="button" aria-expanded="false" aria-controls="collapseContent1">
                            <img class="me-4" src="/assets/images/flag/png/img_flag_us.png" alt="flag_us">
                            <h3 class="text-neutral-950 fw-bold fs-5 lh-sm">Sora<span class="ms-4 me-3">24</span></h3>
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="4" cy="4" r="4" fill="#09DE73" />
                            </svg>
                        </div>
                        <div class="bg-primary-50 p-5 mb-8">
                            <div class="d-flex gap-8">
                                <div class="w-100 text-center">
                                    <p class="text-neutral-950">洛杉磯</p>
                                    <p class="text-neutral-800">11,000公里遠</p>
                                </div>
                                <div class="w-100 text-center">
                                    <p class="text-neutral-950">下午5:07</p>
                                    <p class="text-neutral-800">-1小時</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex align-items-center mb-5">
                                <svg class="me-3" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M14.9999 10.125C14.9999 7.43261 12.8173 5.25 10.1249 5.25C7.43256 5.25 5.24995 7.43261 5.24995 10.125C5.24995 12.8174 7.43256 15 10.1249 15C12.8173 15 14.9999 12.8174 14.9999 10.125ZM16.4999 10.125C16.4999 13.6458 13.6458 16.5 10.1249 16.5C6.60413 16.5 3.74995 13.6458 3.74995 10.125C3.74995 6.60418 6.60413 3.75 10.1249 3.75C13.6458 3.75 16.4999 6.60418 16.4999 10.125Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M10.1249 15C13.3806 15 16.1526 16.3831 18.1787 18.5693L18.5742 19.0176L18.6201 19.0791C18.8339 19.3933 18.7796 19.8244 18.4824 20.0742C18.1653 20.3406 17.6922 20.2995 17.4257 19.9824C15.6265 17.8418 13.1096 16.5 10.1249 16.5C7.14031 16.5 4.62341 17.8418 2.82417 19.9824C2.55769 20.2995 2.08461 20.3406 1.76753 20.0742C1.45048 19.8077 1.40933 19.3347 1.67573 19.0176C3.7296 16.5739 6.65214 15 10.1249 15Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M18.7499 10.125C18.7499 9.10674 18.5706 8.09745 18.2207 7.14359L18.0595 6.73832L18.0332 6.66605C17.9204 6.30304 18.0988 5.90603 18.456 5.75395C18.8134 5.60199 19.2229 5.74905 19.4062 6.08207L19.4404 6.15043L19.6289 6.62602C20.0396 7.74542 20.2499 8.92998 20.2499 10.125C20.2499 11.4905 19.9746 12.842 19.4404 14.0987L19.4062 14.168C19.2229 14.501 18.8133 14.6481 18.456 14.4961C18.075 14.334 17.8975 13.8928 18.0595 13.5118L18.2207 13.1065C18.5706 12.1526 18.7499 11.1433 18.7499 10.125Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M21.7495 10.125C21.7495 8.74749 21.506 7.38242 21.0308 6.09277L20.813 5.54492L20.7866 5.47266C20.6733 5.10984 20.8506 4.71323 21.2075 4.56055C21.5648 4.40797 21.9749 4.55378 22.1587 4.88672L22.1919 4.95508L22.3189 5.26367C22.9334 6.80977 23.2495 8.45923 23.2495 10.125C23.2495 11.9019 22.8898 13.6608 22.1919 15.2949C22.0291 15.6756 21.5883 15.8521 21.2075 15.6895C20.8269 15.5266 20.6504 15.0859 20.813 14.7051C21.4313 13.2573 21.7495 11.6993 21.7495 10.125Z"
                                        fill="#363A3F" />
                                </svg>
                                <p class="fw-semibold text-neutral-950 fs-9">泰文<span
                                        class="fw-normal">（熟練）、</span>英文<span class="fw-normal">（中等）</span></p>
                            </div>
                            <div class="d-flex align-items-center">
                                <svg class="me-3" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.75 21.75V18.75C9.75 18.3358 10.0858 18 10.5 18C10.9142 18 11.25 18.3358 11.25 18.75V21.75C11.25 22.1642 10.9142 22.5 10.5 22.5C10.0858 22.5 9.75 22.1642 9.75 21.75Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M18 12C18 7.85786 14.6421 4.5 10.5 4.5C6.35786 4.5 3 7.85786 3 12C3 16.1421 6.35786 19.5 10.5 19.5C14.6421 19.5 18 16.1421 18 12ZM19.5 12C19.5 16.9706 15.4706 21 10.5 21C5.52944 21 1.5 16.9706 1.5 12C1.5 7.02944 5.52944 3 10.5 3C15.4706 3 19.5 7.02944 19.5 12Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M9.75 5.25V2.25C9.75 1.83579 10.0858 1.5 10.5 1.5C10.9142 1.5 11.25 1.83579 11.25 2.25V5.25C11.25 5.66421 10.9142 6 10.5 6C10.0858 6 9.75 5.66421 9.75 5.25Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M3.75 11.25C4.16421 11.25 4.5 11.5858 4.5 12C4.5 12.4142 4.16421 12.75 3.75 12.75H0.75C0.335786 12.75 0 12.4142 0 12C0 11.5858 0.335786 11.25 0.75 11.25H3.75Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M20.25 11.25C20.6642 11.25 21 11.5858 21 12C21 12.4142 20.6642 12.75 20.25 12.75H17.25C16.8358 12.75 16.5 12.4142 16.5 12C16.5 11.5858 16.8358 11.25 17.25 11.25H20.25Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M12.75 12C12.75 10.7574 11.7426 9.75 10.5 9.75C9.25736 9.75 8.25 10.7574 8.25 12C8.25 13.2426 9.25736 14.25 10.5 14.25C11.7426 14.25 12.75 13.2426 12.75 12ZM14.25 12C14.25 14.0711 12.5711 15.75 10.5 15.75C8.42893 15.75 6.75 14.0711 6.75 12C6.75 9.92893 8.42893 8.25 10.5 8.25C12.5711 8.25 14.25 9.92893 14.25 12Z"
                                        fill="#363A3F" />
                                </svg>

                                <p class="fw-semibold text-neutral-950 fs-9">中文<span
                                        class="fw-normal">（中等）、</span>日文<span class="fw-normal">（新手）</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseContent1">
                        <div class="p-8 pb-0">
                            <div class="border-top border-bottom border-neutral-200">
                                <p class="text-neutral-800 fs-10 mb-3 mt-8">自我介紹</p>
                                <p class="text-neutral-950 mb-8">Love deep chats and cultural exchanges. Currently
                                    learning
                                    Chinese and always up for
                                    meeting new people.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="card2" class="card rounded-top-5 border-0 text-white position-absolute" style="min-height: 614px;">
                <img src="/assets/images/avatar/lg/img_avatar_lg03.png" class="card-img rounded-top-5 img-fluid"
                    alt="avatar_lg04" style="height: 414px; object-fit:cover;">
                <!-- Jump Icon -->
                <div class="position-absolute start-50 translate-middle-x">
                    <div class="jump-icon-box d-flex align-items-center">
                        <div class="jump-heart-icon d-flex justify-content-center align-items-center"
                            style="height: 88px;width: 88px;">
                            <svg width="75" height="70" viewBox="0 0 75 70" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M72.6288 13.2682C82.4159 35.2503 57.7445 67.5548 56.6837 68.9076C56.4054 69.2673 56.0424 69.5524 55.627 69.7374C55.2116 69.9223 54.7568 70.0014 54.3033 69.9675C52.5881 69.8506 12.0729 66.5691 2.28576 44.5869C-0.00667352 39.4223 -0.156895 33.5593 1.86805 28.2842C3.893 23.009 7.92775 18.7524 13.0871 16.4484C19.5719 13.5612 26.4911 13.8219 32.1289 16.9598C33.5694 10.6705 38.0055 5.35399 44.4902 2.4668C49.6548 0.174361 55.5178 0.0241404 60.793 2.04909C66.0681 4.07404 70.3247 8.10879 72.6288 13.2682Z"
                                    fill="#01A06A" />
                            </svg>
                        </div>
                        <div class="jump-star-icon d-flex justify-content-center align-items-center"
                            style="height: 88px;width: 88px;">
                            <svg width="78" height="75" viewBox="0 0 78 75" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M75.7225 34.5722L60.2538 47.92L64.9666 67.8816C65.2266 68.9652 65.1597 70.1016 64.7742 71.1472C64.3887 72.1927 63.702 73.1006 62.8007 73.7561C61.8995 74.4116 60.8243 74.7853 59.7108 74.83C58.5973 74.8747 57.4955 74.5884 56.5447 74.0072L39.1853 63.3235L21.8156 74.0072C20.8649 74.585 19.7645 74.8686 18.6529 74.8223C17.5414 74.7759 16.4684 74.4017 15.569 73.7468C14.6697 73.0919 13.9843 72.1855 13.599 71.1418C13.2138 70.0981 13.1459 68.9638 13.4041 67.8816L18.1341 47.92L2.66533 34.5722C1.82417 33.8452 1.21582 32.8865 0.916272 31.8158C0.61672 30.7452 0.639237 29.61 0.981009 28.552C1.32278 27.4941 1.96866 26.5602 2.83799 25.8672C3.70732 25.1741 4.76157 24.7525 5.86908 24.655L26.1503 23.0188L33.9741 4.08502C34.3976 3.05314 35.1183 2.1705 36.0447 1.54931C36.9711 0.928116 38.0613 0.596436 39.1767 0.596436C40.2921 0.596436 41.3823 0.928116 42.3087 1.54931C43.2351 2.1705 43.9559 3.05314 44.3794 4.08502L52.1997 23.0188L72.481 24.655C73.5907 24.7489 74.648 25.1681 75.5205 25.8602C76.393 26.5523 77.0418 27.4865 77.3857 28.5458C77.7296 29.605 77.7533 30.7422 77.4538 31.8148C77.1542 32.8874 76.5448 33.8478 75.7019 34.5756L75.7225 34.5722Z"
                                    fill="url(#paint0_linear_4844_16205)" />
                                <defs>
                                    <linearGradient id="paint0_linear_4844_16205" x1="39.1846" y1="0.596436"
                                        x2="39.1846" y2="74.8345" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#97C2F9" />
                                        <stop offset="1" stop-color="#3164E4" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="jump-dislike-icon d-flex justify-content-center align-items-center"
                            style="height: 88px;width: 88px;">
                            <svg width="75" height="74" viewBox="0 0 75 74" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4.19506 43.5046C3.47549 43.7808 2.81738 44.196 2.25829 44.7266C1.69919 45.2571 1.25007 45.8926 0.93657 46.5968C0.623072 47.3009 0.451339 48.0599 0.431164 48.8304C0.410989 49.6009 0.542763 50.3678 0.818981 51.0874C1.0952 51.8069 1.51045 52.4651 2.041 53.0241C2.57156 53.5832 3.20705 54.0324 3.91117 54.3459C4.6153 54.6594 5.37429 54.8311 6.14479 54.8513C6.91529 54.8714 7.68222 54.7397 8.40179 54.4635L33.9045 44.6683L43.6899 70.1747C43.9662 70.8943 44.3814 71.5524 44.912 72.1115C45.4425 72.6706 46.078 73.1197 46.7821 73.4332C47.4863 73.7467 48.2452 73.9185 49.0157 73.9386C49.7862 73.9588 50.5532 73.827 51.2727 73.5508C51.9923 73.2746 52.6504 72.8594 53.2095 72.3288C53.7686 71.7983 54.2177 71.1628 54.5312 70.4586C54.8447 69.7545 55.0165 68.9955 55.0366 68.225C55.0568 67.4545 54.925 66.6876 54.6488 65.968L44.8537 40.4653L70.3601 30.6799C71.8134 30.122 72.9855 29.0097 73.6186 27.5877C74.2517 26.1656 74.294 24.5503 73.7362 23.0971C73.1784 21.6438 72.0661 20.4717 70.644 19.8386C69.222 19.2054 67.6066 19.1631 66.1534 19.721L40.6507 29.5161L30.8653 4.00969C30.589 3.29012 30.1738 2.632 29.6432 2.0729C29.1127 1.51381 28.4772 1.0647 27.7731 0.751202C27.0689 0.437704 26.3099 0.265958 25.5394 0.245781C24.7689 0.225605 24.002 0.357388 23.2824 0.633605C22.5629 0.909822 21.9048 1.32507 21.3457 1.85563C20.7866 2.38619 20.3374 3.02167 20.024 3.7258C19.7105 4.42993 19.5387 5.18891 19.5185 5.95941C19.4984 6.72991 19.6301 7.49684 19.9064 8.21641L29.7015 33.7191L4.19506 43.5046Z"
                                    fill="#F52761" />
                            </svg>

                        </div>
                    </div>
                </div>
                <div class="card-img-overlay p-0 d-flex flex-column justify-content-end">
                    <div class="bg-white rounded-top-5 pt-9 p-8 pb-0 position-relative">
                        <!-- Icon -->
                        <button id="dislike-icon2" type="button"
                            class="bg-white border-0 shadow-sm rounded-pill d-flex justify-content-center align-items-center position-absolute dislike-icon"
                            style="height: 64px;width: 64px;">
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_4568_30991)">
                                    <path
                                        d="M22.7857 20.1452C22.9591 20.3186 23.0967 20.5244 23.1905 20.751C23.2844 20.9776 23.3327 21.2204 23.3327 21.4657C23.3327 21.7109 23.2844 21.9538 23.1905 22.1803C23.0967 22.4069 22.9591 22.6128 22.7857 22.7862C22.6123 22.9596 22.4064 23.0972 22.1798 23.191C21.9533 23.2849 21.7104 23.3332 21.4652 23.3332C21.2199 23.3332 20.9771 23.2849 20.7505 23.191C20.5239 23.0972 20.3181 22.9596 20.1447 22.7862L13.9993 16.6385L7.85403 22.7862C7.68062 22.9596 7.47475 23.0972 7.24817 23.191C7.0216 23.2849 6.77876 23.3332 6.53351 23.3332C6.28827 23.3332 6.04543 23.2849 5.81885 23.191C5.59228 23.0972 5.38641 22.9596 5.21299 22.7862C5.03958 22.6128 4.90202 22.4069 4.80817 22.1803C4.71432 21.9538 4.66602 21.7109 4.66602 21.4657C4.66602 21.2204 4.71432 20.9776 4.80817 20.751C4.90202 20.5244 5.03958 20.3186 5.21299 20.1452L11.3606 13.9998L5.21299 7.85452C4.86277 7.5043 4.66602 7.02929 4.66602 6.534C4.66602 6.03871 4.86277 5.5637 5.21299 5.21348C5.56322 4.86326 6.03822 4.6665 6.53351 4.6665C7.0288 4.6665 7.50381 4.86326 7.85403 5.21348L13.9993 11.3611L20.1447 5.21348C20.3181 5.04007 20.5239 4.90251 20.7505 4.80866C20.9771 4.71481 21.2199 4.6665 21.4652 4.6665C21.7104 4.6665 21.9533 4.71481 22.1798 4.80866C22.4064 4.90251 22.6123 5.04007 22.7857 5.21348C22.9591 5.38689 23.0967 5.59276 23.1905 5.81934C23.2844 6.04591 23.3327 6.28876 23.3327 6.534C23.3327 6.77924 23.2844 7.02209 23.1905 7.24866C23.0967 7.47524 22.9591 7.68111 22.7857 7.85452L16.6381 13.9998L22.7857 20.1452Z"
                                        fill="#F52761" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_4568_30991">
                                        <rect width="28" height="28" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </button>
                        <button id="star-icon2" type="button"
                            class="bg-accent-600 border-0 shadow-sm rounded-pill d-flex justify-content-center align-items-center position-absolute star-icon"
                            style="height: 64px;width: 64px;">
                            <svg width="28" height="28" viewBox="0 0 29 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M26.1264 12.5619L21.2045 16.809L22.704 23.1604C22.7868 23.5052 22.7655 23.8667 22.6428 24.1994C22.5202 24.5321 22.3016 24.821 22.0149 25.0295C21.7282 25.2381 21.386 25.357 21.0317 25.3712C20.6774 25.3855 20.3269 25.2944 20.0243 25.1094L14.5009 21.7101L8.97419 25.1094C8.67169 25.2933 8.32155 25.3835 7.96787 25.3688C7.61419 25.354 7.27278 25.235 6.98663 25.0266C6.70048 24.8182 6.48238 24.5298 6.3598 24.1977C6.23723 23.8656 6.21565 23.5047 6.29778 23.1604L7.80278 16.809L2.88091 12.5619C2.61327 12.3306 2.4197 12.0256 2.32439 11.6849C2.22908 11.3442 2.23624 10.983 2.34499 10.6464C2.45373 10.3098 2.65924 10.0127 2.93585 9.79215C3.21245 9.57163 3.54789 9.43748 3.90028 9.40647L10.3534 8.88584L12.8428 2.86147C12.9775 2.53314 13.2069 2.2523 13.5016 2.05465C13.7964 1.857 14.1433 1.75146 14.4982 1.75146C14.8531 1.75146 15.2 1.857 15.4947 2.05465C15.7895 2.2523 16.0188 2.53314 16.1536 2.86147L18.6418 8.88584L25.095 9.40647C25.4481 9.43633 25.7845 9.56973 26.0621 9.78994C26.3397 10.0102 26.5462 10.3074 26.6556 10.6444C26.765 10.9815 26.7725 11.3433 26.6772 11.6846C26.5819 12.0259 26.388 12.3315 26.1198 12.563L26.1264 12.5619Z"
                                    fill="white" />
                            </svg>

                        </button>
                        <button id="heart-icon2" type="button"
                            class="bg-primary-600 border-0 shadow-sm rounded-pill d-flex justify-content-center align-items-center position-absolute heart-icon"
                            style="height: 64px;width: 64px;">
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M26.25 11.1562C26.25 18.8125 14.898 25.0097 14.4145 25.2656C14.2871 25.3342 14.1447 25.37 14 25.37C13.8553 25.37 13.7129 25.3342 13.5855 25.2656C13.102 25.0097 1.75 18.8125 1.75 11.1562C1.75203 9.35837 2.46713 7.63471 3.73842 6.36342C5.00971 5.09213 6.73337 4.37703 8.53125 4.375C10.7898 4.375 12.7673 5.34625 14 6.98797C15.2327 5.34625 17.2102 4.375 19.4688 4.375C21.2666 4.37703 22.9903 5.09213 24.2616 6.36342C25.5329 7.63471 26.248 9.35837 26.25 11.1562Z"
                                    fill="white" />
                            </svg>
                        </button>
                        <div class="d-flex align-items-center mb-6" data-bs-toggle="collapse" href="#collapseContent2"
                            role="button" aria-expanded="false" aria-controls="collapseContent2">
                            <img class="me-4" src="/assets/images/flag/png/img_flag_fr.png" alt="flag_us">
                            <h3 class="text-neutral-950 fw-bold fs-5 lh-sm">Celine<span class="ms-4 me-3">23</span></h3>
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="4" cy="4" r="4" fill="#09DE73" />
                            </svg>
                        </div>
                        <div class="bg-primary-50 p-5 mb-8">
                            <div class="d-flex gap-8">
                                <div class="w-100 text-center">
                                    <p class="text-neutral-950">巴黎</p>
                                    <p class="text-neutral-800">9,800公里遠</p>
                                </div>
                                <div class="w-100 text-center">
                                    <p class="text-neutral-950">下午11:07</p>
                                    <p class="text-neutral-800">-7小時</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex align-items-center mb-5">
                                <svg class="me-3" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M14.9999 10.125C14.9999 7.43261 12.8173 5.25 10.1249 5.25C7.43256 5.25 5.24995 7.43261 5.24995 10.125C5.24995 12.8174 7.43256 15 10.1249 15C12.8173 15 14.9999 12.8174 14.9999 10.125ZM16.4999 10.125C16.4999 13.6458 13.6458 16.5 10.1249 16.5C6.60413 16.5 3.74995 13.6458 3.74995 10.125C3.74995 6.60418 6.60413 3.75 10.1249 3.75C13.6458 3.75 16.4999 6.60418 16.4999 10.125Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M10.1249 15C13.3806 15 16.1526 16.3831 18.1787 18.5693L18.5742 19.0176L18.6201 19.0791C18.8339 19.3933 18.7796 19.8244 18.4824 20.0742C18.1653 20.3406 17.6922 20.2995 17.4257 19.9824C15.6265 17.8418 13.1096 16.5 10.1249 16.5C7.14031 16.5 4.62341 17.8418 2.82417 19.9824C2.55769 20.2995 2.08461 20.3406 1.76753 20.0742C1.45048 19.8077 1.40933 19.3347 1.67573 19.0176C3.7296 16.5739 6.65214 15 10.1249 15Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M18.7499 10.125C18.7499 9.10674 18.5706 8.09745 18.2207 7.14359L18.0595 6.73832L18.0332 6.66605C17.9204 6.30304 18.0988 5.90603 18.456 5.75395C18.8134 5.60199 19.2229 5.74905 19.4062 6.08207L19.4404 6.15043L19.6289 6.62602C20.0396 7.74542 20.2499 8.92998 20.2499 10.125C20.2499 11.4905 19.9746 12.842 19.4404 14.0987L19.4062 14.168C19.2229 14.501 18.8133 14.6481 18.456 14.4961C18.075 14.334 17.8975 13.8928 18.0595 13.5118L18.2207 13.1065C18.5706 12.1526 18.7499 11.1433 18.7499 10.125Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M21.7495 10.125C21.7495 8.74749 21.506 7.38242 21.0308 6.09277L20.813 5.54492L20.7866 5.47266C20.6733 5.10984 20.8506 4.71323 21.2075 4.56055C21.5648 4.40797 21.9749 4.55378 22.1587 4.88672L22.1919 4.95508L22.3189 5.26367C22.9334 6.80977 23.2495 8.45923 23.2495 10.125C23.2495 11.9019 22.8898 13.6608 22.1919 15.2949C22.0291 15.6756 21.5883 15.8521 21.2075 15.6895C20.8269 15.5266 20.6504 15.0859 20.813 14.7051C21.4313 13.2573 21.7495 11.6993 21.7495 10.125Z"
                                        fill="#363A3F" />
                                </svg>
                                <p class="fw-semibold text-neutral-950 fs-9">英文<span
                                        class="fw-normal">（熟練）、</span>法文<span class="fw-normal">（熟練）</span></p>
                            </div>
                            <div class="d-flex align-items-center">
                                <svg class="me-3" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.75 21.75V18.75C9.75 18.3358 10.0858 18 10.5 18C10.9142 18 11.25 18.3358 11.25 18.75V21.75C11.25 22.1642 10.9142 22.5 10.5 22.5C10.0858 22.5 9.75 22.1642 9.75 21.75Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M18 12C18 7.85786 14.6421 4.5 10.5 4.5C6.35786 4.5 3 7.85786 3 12C3 16.1421 6.35786 19.5 10.5 19.5C14.6421 19.5 18 16.1421 18 12ZM19.5 12C19.5 16.9706 15.4706 21 10.5 21C5.52944 21 1.5 16.9706 1.5 12C1.5 7.02944 5.52944 3 10.5 3C15.4706 3 19.5 7.02944 19.5 12Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M9.75 5.25V2.25C9.75 1.83579 10.0858 1.5 10.5 1.5C10.9142 1.5 11.25 1.83579 11.25 2.25V5.25C11.25 5.66421 10.9142 6 10.5 6C10.0858 6 9.75 5.66421 9.75 5.25Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M3.75 11.25C4.16421 11.25 4.5 11.5858 4.5 12C4.5 12.4142 4.16421 12.75 3.75 12.75H0.75C0.335786 12.75 0 12.4142 0 12C0 11.5858 0.335786 11.25 0.75 11.25H3.75Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M20.25 11.25C20.6642 11.25 21 11.5858 21 12C21 12.4142 20.6642 12.75 20.25 12.75H17.25C16.8358 12.75 16.5 12.4142 16.5 12C16.5 11.5858 16.8358 11.25 17.25 11.25H20.25Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M12.75 12C12.75 10.7574 11.7426 9.75 10.5 9.75C9.25736 9.75 8.25 10.7574 8.25 12C8.25 13.2426 9.25736 14.25 10.5 14.25C11.7426 14.25 12.75 13.2426 12.75 12ZM14.25 12C14.25 14.0711 12.5711 15.75 10.5 15.75C8.42893 15.75 6.75 14.0711 6.75 12C6.75 9.92893 8.42893 8.25 10.5 8.25C12.5711 8.25 14.25 9.92893 14.25 12Z"
                                        fill="#363A3F" />
                                </svg>

                                <p class="fw-semibold text-neutral-950 fs-9">中文<span
                                        class="fw-normal">（新手）、</span>俄文<span class="fw-normal">（新手）</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseContent2">
                        <div class="p-8 pb-0">
                            <div class="border-top border-bottom border-neutral-200">
                                <p class="text-neutral-800 fs-10 mb-3 mt-8">自我介紹</p>
                                <p class="text-neutral-950 mb-8">Love deep chats and cultural exchanges. Currently
                                    learning
                                    Chinese and always up for
                                    meeting new people.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="card3" class="card rounded-top-5 border-0 text-white position-absolute" style="min-height: 614px;">
                <img src="/assets/images/avatar/lg/img_avatar_lg04.png" class="card-img rounded-top-5 img-fluid"
                    alt="avatar_lg04" style="height: 414px; object-fit:cover;">
                <!-- Jump Icon -->
                <div class="position-absolute start-50 translate-middle-x">
                    <div class="jump-icon-box d-flex align-items-center">
                        <div class="jump-heart-icon d-flex justify-content-center align-items-center"
                            style="height: 88px;width: 88px;">
                            <svg width="75" height="70" viewBox="0 0 75 70" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M72.6288 13.2682C82.4159 35.2503 57.7445 67.5548 56.6837 68.9076C56.4054 69.2673 56.0424 69.5524 55.627 69.7374C55.2116 69.9223 54.7568 70.0014 54.3033 69.9675C52.5881 69.8506 12.0729 66.5691 2.28576 44.5869C-0.00667352 39.4223 -0.156895 33.5593 1.86805 28.2842C3.893 23.009 7.92775 18.7524 13.0871 16.4484C19.5719 13.5612 26.4911 13.8219 32.1289 16.9598C33.5694 10.6705 38.0055 5.35399 44.4902 2.4668C49.6548 0.174361 55.5178 0.0241404 60.793 2.04909C66.0681 4.07404 70.3247 8.10879 72.6288 13.2682Z"
                                    fill="#01A06A" />
                            </svg>
                        </div>
                        <div class="jump-star-icon d-flex justify-content-center align-items-center"
                            style="height: 88px;width: 88px;">
                            <svg width="78" height="75" viewBox="0 0 78 75" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M75.7225 34.5722L60.2538 47.92L64.9666 67.8816C65.2266 68.9652 65.1597 70.1016 64.7742 71.1472C64.3887 72.1927 63.702 73.1006 62.8007 73.7561C61.8995 74.4116 60.8243 74.7853 59.7108 74.83C58.5973 74.8747 57.4955 74.5884 56.5447 74.0072L39.1853 63.3235L21.8156 74.0072C20.8649 74.585 19.7645 74.8686 18.6529 74.8223C17.5414 74.7759 16.4684 74.4017 15.569 73.7468C14.6697 73.0919 13.9843 72.1855 13.599 71.1418C13.2138 70.0981 13.1459 68.9638 13.4041 67.8816L18.1341 47.92L2.66533 34.5722C1.82417 33.8452 1.21582 32.8865 0.916272 31.8158C0.61672 30.7452 0.639237 29.61 0.981009 28.552C1.32278 27.4941 1.96866 26.5602 2.83799 25.8672C3.70732 25.1741 4.76157 24.7525 5.86908 24.655L26.1503 23.0188L33.9741 4.08502C34.3976 3.05314 35.1183 2.1705 36.0447 1.54931C36.9711 0.928116 38.0613 0.596436 39.1767 0.596436C40.2921 0.596436 41.3823 0.928116 42.3087 1.54931C43.2351 2.1705 43.9559 3.05314 44.3794 4.08502L52.1997 23.0188L72.481 24.655C73.5907 24.7489 74.648 25.1681 75.5205 25.8602C76.393 26.5523 77.0418 27.4865 77.3857 28.5458C77.7296 29.605 77.7533 30.7422 77.4538 31.8148C77.1542 32.8874 76.5448 33.8478 75.7019 34.5756L75.7225 34.5722Z"
                                    fill="url(#paint0_linear_4844_16205)" />
                                <defs>
                                    <linearGradient id="paint0_linear_4844_16205" x1="39.1846" y1="0.596436"
                                        x2="39.1846" y2="74.8345" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#97C2F9" />
                                        <stop offset="1" stop-color="#3164E4" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="jump-dislike-icon d-flex justify-content-center align-items-center"
                            style="height: 88px;width: 88px;">
                            <svg width="75" height="74" viewBox="0 0 75 74" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4.19506 43.5046C3.47549 43.7808 2.81738 44.196 2.25829 44.7266C1.69919 45.2571 1.25007 45.8926 0.93657 46.5968C0.623072 47.3009 0.451339 48.0599 0.431164 48.8304C0.410989 49.6009 0.542763 50.3678 0.818981 51.0874C1.0952 51.8069 1.51045 52.4651 2.041 53.0241C2.57156 53.5832 3.20705 54.0324 3.91117 54.3459C4.6153 54.6594 5.37429 54.8311 6.14479 54.8513C6.91529 54.8714 7.68222 54.7397 8.40179 54.4635L33.9045 44.6683L43.6899 70.1747C43.9662 70.8943 44.3814 71.5524 44.912 72.1115C45.4425 72.6706 46.078 73.1197 46.7821 73.4332C47.4863 73.7467 48.2452 73.9185 49.0157 73.9386C49.7862 73.9588 50.5532 73.827 51.2727 73.5508C51.9923 73.2746 52.6504 72.8594 53.2095 72.3288C53.7686 71.7983 54.2177 71.1628 54.5312 70.4586C54.8447 69.7545 55.0165 68.9955 55.0366 68.225C55.0568 67.4545 54.925 66.6876 54.6488 65.968L44.8537 40.4653L70.3601 30.6799C71.8134 30.122 72.9855 29.0097 73.6186 27.5877C74.2517 26.1656 74.294 24.5503 73.7362 23.0971C73.1784 21.6438 72.0661 20.4717 70.644 19.8386C69.222 19.2054 67.6066 19.1631 66.1534 19.721L40.6507 29.5161L30.8653 4.00969C30.589 3.29012 30.1738 2.632 29.6432 2.0729C29.1127 1.51381 28.4772 1.0647 27.7731 0.751202C27.0689 0.437704 26.3099 0.265958 25.5394 0.245781C24.7689 0.225605 24.002 0.357388 23.2824 0.633605C22.5629 0.909822 21.9048 1.32507 21.3457 1.85563C20.7866 2.38619 20.3374 3.02167 20.024 3.7258C19.7105 4.42993 19.5387 5.18891 19.5185 5.95941C19.4984 6.72991 19.6301 7.49684 19.9064 8.21641L29.7015 33.7191L4.19506 43.5046Z"
                                    fill="#F52761" />
                            </svg>

                        </div>
                    </div>
                </div>
                <div class="card-img-overlay p-0 d-flex flex-column justify-content-end">
                    <div class="bg-white rounded-top-5 pt-9 p-8 pb-0 position-relative">
                        <!-- Icon -->
                        <button id="dislike-icon3" type="button"
                            class="bg-white border-0 shadow-sm rounded-pill d-flex justify-content-center align-items-center position-absolute dislike-icon"
                            style="height: 64px;width: 64px;">
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_4568_30991)">
                                    <path
                                        d="M22.7857 20.1452C22.9591 20.3186 23.0967 20.5244 23.1905 20.751C23.2844 20.9776 23.3327 21.2204 23.3327 21.4657C23.3327 21.7109 23.2844 21.9538 23.1905 22.1803C23.0967 22.4069 22.9591 22.6128 22.7857 22.7862C22.6123 22.9596 22.4064 23.0972 22.1798 23.191C21.9533 23.2849 21.7104 23.3332 21.4652 23.3332C21.2199 23.3332 20.9771 23.2849 20.7505 23.191C20.5239 23.0972 20.3181 22.9596 20.1447 22.7862L13.9993 16.6385L7.85403 22.7862C7.68062 22.9596 7.47475 23.0972 7.24817 23.191C7.0216 23.2849 6.77876 23.3332 6.53351 23.3332C6.28827 23.3332 6.04543 23.2849 5.81885 23.191C5.59228 23.0972 5.38641 22.9596 5.21299 22.7862C5.03958 22.6128 4.90202 22.4069 4.80817 22.1803C4.71432 21.9538 4.66602 21.7109 4.66602 21.4657C4.66602 21.2204 4.71432 20.9776 4.80817 20.751C4.90202 20.5244 5.03958 20.3186 5.21299 20.1452L11.3606 13.9998L5.21299 7.85452C4.86277 7.5043 4.66602 7.02929 4.66602 6.534C4.66602 6.03871 4.86277 5.5637 5.21299 5.21348C5.56322 4.86326 6.03822 4.6665 6.53351 4.6665C7.0288 4.6665 7.50381 4.86326 7.85403 5.21348L13.9993 11.3611L20.1447 5.21348C20.3181 5.04007 20.5239 4.90251 20.7505 4.80866C20.9771 4.71481 21.2199 4.6665 21.4652 4.6665C21.7104 4.6665 21.9533 4.71481 22.1798 4.80866C22.4064 4.90251 22.6123 5.04007 22.7857 5.21348C22.9591 5.38689 23.0967 5.59276 23.1905 5.81934C23.2844 6.04591 23.3327 6.28876 23.3327 6.534C23.3327 6.77924 23.2844 7.02209 23.1905 7.24866C23.0967 7.47524 22.9591 7.68111 22.7857 7.85452L16.6381 13.9998L22.7857 20.1452Z"
                                        fill="#F52761" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_4568_30991">
                                        <rect width="28" height="28" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </button>
                        <button id="star-icon3" type="button"
                            class="bg-accent-600 border-0 shadow-sm rounded-pill d-flex justify-content-center align-items-center position-absolute star-icon"
                            style="height: 64px;width: 64px;">
                            <svg width="28" height="28" viewBox="0 0 29 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M26.1264 12.5619L21.2045 16.809L22.704 23.1604C22.7868 23.5052 22.7655 23.8667 22.6428 24.1994C22.5202 24.5321 22.3016 24.821 22.0149 25.0295C21.7282 25.2381 21.386 25.357 21.0317 25.3712C20.6774 25.3855 20.3269 25.2944 20.0243 25.1094L14.5009 21.7101L8.97419 25.1094C8.67169 25.2933 8.32155 25.3835 7.96787 25.3688C7.61419 25.354 7.27278 25.235 6.98663 25.0266C6.70048 24.8182 6.48238 24.5298 6.3598 24.1977C6.23723 23.8656 6.21565 23.5047 6.29778 23.1604L7.80278 16.809L2.88091 12.5619C2.61327 12.3306 2.4197 12.0256 2.32439 11.6849C2.22908 11.3442 2.23624 10.983 2.34499 10.6464C2.45373 10.3098 2.65924 10.0127 2.93585 9.79215C3.21245 9.57163 3.54789 9.43748 3.90028 9.40647L10.3534 8.88584L12.8428 2.86147C12.9775 2.53314 13.2069 2.2523 13.5016 2.05465C13.7964 1.857 14.1433 1.75146 14.4982 1.75146C14.8531 1.75146 15.2 1.857 15.4947 2.05465C15.7895 2.2523 16.0188 2.53314 16.1536 2.86147L18.6418 8.88584L25.095 9.40647C25.4481 9.43633 25.7845 9.56973 26.0621 9.78994C26.3397 10.0102 26.5462 10.3074 26.6556 10.6444C26.765 10.9815 26.7725 11.3433 26.6772 11.6846C26.5819 12.0259 26.388 12.3315 26.1198 12.563L26.1264 12.5619Z"
                                    fill="white" />
                            </svg>

                        </button>
                        <button id="heart-icon3" type="button"
                            class="bg-primary-600 border-0 shadow-sm rounded-pill d-flex justify-content-center align-items-center position-absolute heart-icon"
                            style="height: 64px;width: 64px;">
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M26.25 11.1562C26.25 18.8125 14.898 25.0097 14.4145 25.2656C14.2871 25.3342 14.1447 25.37 14 25.37C13.8553 25.37 13.7129 25.3342 13.5855 25.2656C13.102 25.0097 1.75 18.8125 1.75 11.1562C1.75203 9.35837 2.46713 7.63471 3.73842 6.36342C5.00971 5.09213 6.73337 4.37703 8.53125 4.375C10.7898 4.375 12.7673 5.34625 14 6.98797C15.2327 5.34625 17.2102 4.375 19.4688 4.375C21.2666 4.37703 22.9903 5.09213 24.2616 6.36342C25.5329 7.63471 26.248 9.35837 26.25 11.1562Z"
                                    fill="white" />
                            </svg>
                        </button>
                        <div class="d-flex align-items-center mb-6" data-bs-toggle="collapse" href="#collapseContent3"
                            role="button" aria-expanded="false" aria-controls="collapseContent3">
                            <img class="me-4" src="/assets/images/flag/png/img_flag_us.png" alt="flag_us">
                            <h3 class="text-neutral-950 fw-bold fs-5 lh-sm">Elena<span class="ms-4 me-3">25</span></h3>
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="4" cy="4" r="4" fill="#09DE73" />
                            </svg>

                        </div>
                        <div class="bg-primary-50 p-5 mb-8">
                            <div class="d-flex gap-8">
                                <div class="w-100 text-center">
                                    <p class="text-neutral-950">洛杉磯</p>
                                    <p class="text-neutral-800">11,000公里遠</p>
                                </div>
                                <div class="w-100 text-center">
                                    <p class="text-neutral-950">下午3:07</p>
                                    <p class="text-neutral-800">-15小時</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex align-items-center mb-5">
                                <svg class="me-3" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M14.9999 10.125C14.9999 7.43261 12.8173 5.25 10.1249 5.25C7.43256 5.25 5.24995 7.43261 5.24995 10.125C5.24995 12.8174 7.43256 15 10.1249 15C12.8173 15 14.9999 12.8174 14.9999 10.125ZM16.4999 10.125C16.4999 13.6458 13.6458 16.5 10.1249 16.5C6.60413 16.5 3.74995 13.6458 3.74995 10.125C3.74995 6.60418 6.60413 3.75 10.1249 3.75C13.6458 3.75 16.4999 6.60418 16.4999 10.125Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M10.1249 15C13.3806 15 16.1526 16.3831 18.1787 18.5693L18.5742 19.0176L18.6201 19.0791C18.8339 19.3933 18.7796 19.8244 18.4824 20.0742C18.1653 20.3406 17.6922 20.2995 17.4257 19.9824C15.6265 17.8418 13.1096 16.5 10.1249 16.5C7.14031 16.5 4.62341 17.8418 2.82417 19.9824C2.55769 20.2995 2.08461 20.3406 1.76753 20.0742C1.45048 19.8077 1.40933 19.3347 1.67573 19.0176C3.7296 16.5739 6.65214 15 10.1249 15Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M18.7499 10.125C18.7499 9.10674 18.5706 8.09745 18.2207 7.14359L18.0595 6.73832L18.0332 6.66605C17.9204 6.30304 18.0988 5.90603 18.456 5.75395C18.8134 5.60199 19.2229 5.74905 19.4062 6.08207L19.4404 6.15043L19.6289 6.62602C20.0396 7.74542 20.2499 8.92998 20.2499 10.125C20.2499 11.4905 19.9746 12.842 19.4404 14.0987L19.4062 14.168C19.2229 14.501 18.8133 14.6481 18.456 14.4961C18.075 14.334 17.8975 13.8928 18.0595 13.5118L18.2207 13.1065C18.5706 12.1526 18.7499 11.1433 18.7499 10.125Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M21.7495 10.125C21.7495 8.74749 21.506 7.38242 21.0308 6.09277L20.813 5.54492L20.7866 5.47266C20.6733 5.10984 20.8506 4.71323 21.2075 4.56055C21.5648 4.40797 21.9749 4.55378 22.1587 4.88672L22.1919 4.95508L22.3189 5.26367C22.9334 6.80977 23.2495 8.45923 23.2495 10.125C23.2495 11.9019 22.8898 13.6608 22.1919 15.2949C22.0291 15.6756 21.5883 15.8521 21.2075 15.6895C20.8269 15.5266 20.6504 15.0859 20.813 14.7051C21.4313 13.2573 21.7495 11.6993 21.7495 10.125Z"
                                        fill="#363A3F" />
                                </svg>
                                <p class="fw-semibold text-neutral-950 fs-9">英文<span
                                        class="fw-normal">（熟練）、</span>西班牙文<span class="fw-normal">（中等）</span></p>
                            </div>
                            <div class="d-flex align-items-center">
                                <svg class="me-3" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.75 21.75V18.75C9.75 18.3358 10.0858 18 10.5 18C10.9142 18 11.25 18.3358 11.25 18.75V21.75C11.25 22.1642 10.9142 22.5 10.5 22.5C10.0858 22.5 9.75 22.1642 9.75 21.75Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M18 12C18 7.85786 14.6421 4.5 10.5 4.5C6.35786 4.5 3 7.85786 3 12C3 16.1421 6.35786 19.5 10.5 19.5C14.6421 19.5 18 16.1421 18 12ZM19.5 12C19.5 16.9706 15.4706 21 10.5 21C5.52944 21 1.5 16.9706 1.5 12C1.5 7.02944 5.52944 3 10.5 3C15.4706 3 19.5 7.02944 19.5 12Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M9.75 5.25V2.25C9.75 1.83579 10.0858 1.5 10.5 1.5C10.9142 1.5 11.25 1.83579 11.25 2.25V5.25C11.25 5.66421 10.9142 6 10.5 6C10.0858 6 9.75 5.66421 9.75 5.25Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M3.75 11.25C4.16421 11.25 4.5 11.5858 4.5 12C4.5 12.4142 4.16421 12.75 3.75 12.75H0.75C0.335786 12.75 0 12.4142 0 12C0 11.5858 0.335786 11.25 0.75 11.25H3.75Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M20.25 11.25C20.6642 11.25 21 11.5858 21 12C21 12.4142 20.6642 12.75 20.25 12.75H17.25C16.8358 12.75 16.5 12.4142 16.5 12C16.5 11.5858 16.8358 11.25 17.25 11.25H20.25Z"
                                        fill="#363A3F" />
                                    <path
                                        d="M12.75 12C12.75 10.7574 11.7426 9.75 10.5 9.75C9.25736 9.75 8.25 10.7574 8.25 12C8.25 13.2426 9.25736 14.25 10.5 14.25C11.7426 14.25 12.75 13.2426 12.75 12ZM14.25 12C14.25 14.0711 12.5711 15.75 10.5 15.75C8.42893 15.75 6.75 14.0711 6.75 12C6.75 9.92893 8.42893 8.25 10.5 8.25C12.5711 8.25 14.25 9.92893 14.25 12Z"
                                        fill="#363A3F" />
                                </svg>

                                <p class="fw-semibold text-neutral-950 fs-9">中文<span class="fw-normal">（新手）</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseContent3">
                        <div class="p-8 pb-0">
                            <div class="border-top border-bottom border-neutral-200">
                                <p class="text-neutral-800 fs-10 mb-3 mt-8">自我介紹</p>
                                <p class="text-neutral-950 mb-8">Love deep chats and cultural exchanges. Currently
                                    learning
                                    Chinese and always up for
                                    meeting new people.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        AOS.init();

        document.addEventListener("click", (e) => {
            const iconMap = {
                "heart-icon": "jump-heart-icon",
                "star-icon": "jump-star-icon",
                "dislike-icon": "jump-dislike-icon"
            };

            const clickedIconClass = Object.keys(iconMap).find(cls => e.target.closest(`.${cls}`));
            if (!clickedIconClass) return;

            // 找到點擊圖示的父卡片
            const parentCard = e.target.closest(".card");
            if (!parentCard) return;

            // 只取這張卡片內對應的 jump icon 並且可見
            const jumpIcons = Array.from(parentCard.querySelectorAll(`.${iconMap[clickedIconClass]}`))
                .filter(icon => icon.offsetParent !== null);
            if (!jumpIcons.length) return;
            const jumpIcon = jumpIcons[0];

            jumpIcon.classList.remove("active");
            void jumpIcon.offsetWidth;
            jumpIcon.classList.add("active");

            setTimeout(() => {
                jumpIcon.classList.remove("active");

                const cards = Array.from(document.querySelectorAll(".card"))
                    .filter(card => card.offsetParent !== null);

                if (!cards.length || cards.length === 1) return;

                const topCard = cards[cards.length - 1];

                topCard.classList.remove("animate-dislike");
                void topCard.offsetWidth;
                topCard.classList.add("animate-dislike");

                topCard.addEventListener(
                    "transitionend",
                    () => {
                        topCard.style.display = "none";
                    },
                    { once: true }
                );

            }, 800);
        });



        // Bootstrap Collapse
        document.querySelectorAll('.collapse').forEach(collapseEl => {
            const bsCollapse = bootstrap.Collapse.getOrCreateInstance(collapseEl, { toggle: false });

            const card = collapseEl.closest('.card');
            const icons = card.querySelectorAll('.dislike-icon, .star-icon, .heart-icon');

            collapseEl.addEventListener('show.bs.collapse', function () {
                icons.forEach(icon => {
                    icon.classList.remove('icon-visible');
                    icon.classList.add('icon-hidden');
                });
            });

            collapseEl.addEventListener('hide.bs.collapse', function () {
                icons.forEach(icon => {
                    icon.classList.remove('icon-hidden');
                    icon.classList.add('icon-visible');
                });
            });
        });
    });
</script>