// 版面最大寬度
.chat-header, .chat-footer{
    max-width: 640px;
    margin: 0 auto;
}

.chat-topic {
    max-width: 640px;
    margin: 0 auto;
  
  .dialog-box {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    min-width: 136px;
  }

  .message-box {
    border-radius: 12px;
    padding: 8px 12px;
    background-color: $secondary-100;
    display: inline-block; 
  }

} 

.modal-dialog-bottom {
    position: absolute;
    bottom: 0;
    margin: 0;
    max-width: 500px; 
    margin: 0 auto;
    left: 0;
    right: 0;
}

.topic-card {
  padding: 8px 0;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background-color: transparent;
}

.topic-card.topic-active-option,
.topic-card:hover {
    background-color: $primary-50;
    border-color: $primary-600;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    line-height: normal;
}
