// 版面最大寬度
.chat-body, .chat-footer{
    max-width: 640px;
    margin: 0 auto;
}

.chat-topic {

  .dialog-box {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 136px;
  }

  .message-box {
    border-radius: 12px;
    padding: 8px 12px;
    background-color: $secondary-100;
    display: inline-block; 
  }

} 