.btn-fixed{
    position: fixed;
    right: 16px;
    bottom: 88px;
    z-index: 10;
}
.bg-accent-800 {
    /* 上層白色 30% + 下層藍色漸層 */
    background:
        linear-gradient(0deg, rgba(255, 255, 255, .3), rgba(255, 255, 255, .3)),
        linear-gradient(0deg, #879FDB 0%, #243FA9 100%);

    &:active {
        background:
            linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
            linear-gradient(0deg, #879FDB 0%, #243FA9 100%);
    }
}

.bg-secondary-800 {
    /* 上層白色 30% + 下層藍色漸層 */
    background:
        linear-gradient(0deg, rgba(255, 255, 255, .3), rgba(255, 255, 255, .3)),
        linear-gradient(0deg, #BDCED6 0%, #11607B 100%);

    &:active {
        background:
            linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
            linear-gradient(0deg, #BDCED6 0%, #11607B 100%);
    }
}

.bg-japan-800 {
    /* 上層白色 30% + 下層藍色漸層 */
    background:
        linear-gradient(0deg, rgba(255, 255, 255, .3), rgba(255, 255, 255, .3)),
        linear-gradient(0deg, #E6CB9D 0%, #D34525 100%);

    &:active {
        background:
            linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
            linear-gradient(0deg, #E6CB9D 0%, #D34525 100%);
    }
}

.bg-primary-800 {
    /* 上層白色 30% + 下層藍色漸層 */
    background:
        linear-gradient(0deg, rgba(255, 255, 255, .3), rgba(255, 255, 255, .3)),
        linear-gradient(0deg, #9DBE92 0%, #046144 100%);

    &:active {
        background:
            linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
            linear-gradient(0deg, #9DBE92 0%, #046144 100%);
    }
}

.game-card {
    max-width: 100%;
    min-height: 160px;

    position: relative;

    .game-img {
        width: 240px;
        height: 160px;

        position: absolute;
        left: calc(50% - 85px);
        top: 0;
    }

    .game-tag {
        position: absolute;
        left: 16px;
        bottom: 12px;
    }
}