// header
.rewards-header {
  height: 48px;
}

// main Spotlight
.rewards-title {
  border-radius: 12px;
  
  .row {
      margin-right: -6px;
      margin-left: -6px;
  }
}


.card-radius {
  border-radius: 12px;
}