// header
.rewards-header {
  height: 48px;
}

// main Spotlight
.rewards-title {
  border-radius: 12px;
  
  .row {
      margin-right: -6px;
      margin-left: -6px;
  }
}


.card-radius {
  border-radius: 12px;
}

// 自定義ul原點
.courses-summary {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center; 
  align-items: center; 
}